<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheshou/jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{22,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,178}}</string>
                <key>sourceSize</key>
                <string>{22,178}</string>
            </dict>
            <key>sheshou/jian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,268},{102,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,97}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>sheshou/jiandai.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,339},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>sheshou/shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,157},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>sheshou/tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,267},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>sheshou/toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,182},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>sheshou/wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{109,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,125}}</string>
                <key>sourceSize</key>
                <string>{109,125}</string>
            </dict>
            <key>sheshou/wuqi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,103}}</string>
                <key>sourceSize</key>
                <string>{188,103}</string>
            </dict>
            <key>sheshou/xiabai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,366},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>sheshou/xiabai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,230},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>sheshou/youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,279},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>sheshou/youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,322},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>sheshou/youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,229},{33,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>sheshou/youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,372},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>sheshou/zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,230},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>sheshou/zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,366},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>sheshou/zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,323},{41,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>sheshou/zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,372},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>sheshou1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,372},{32,37}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,69},{32,37}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,274},{36,47}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,63},{36,47}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,282},{68,125}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{68,125}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,164},{52,101}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{52,101}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,94},{68,177}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{68,177}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,107},{78,173}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{78,173}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{90,177}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{90,177}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{96,175}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{96,175}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,164},{102,157}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{102,157}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{110,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sheshou1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,268},{72,135}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{72,135}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheshou0.pvr.ccz</string>
            <key>size</key>
            <string>{507,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2521bb0015b21c48970458674f66080$</string>
            <key>textureFileName</key>
            <string>sheshou0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
