<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_50/0066/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,179}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{159,179}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{141,161}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{141,161}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,133},{115,77}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,69},{115,77}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,437},{93,47}}</string>
                <key>offset</key>
                <string>{-33,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,95},{93,47}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{121,129}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{121,129}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,249},{105,111}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,45},{105,111}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,133},{107,111}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{107,111}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{119,125}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,43},{119,125}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{131,137}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,38},{131,137}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{145,151}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{145,151}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{117,121}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{117,121}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0066/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,129},{125,83}}</string>
                <key>offset</key>
                <string>{-24,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,67},{125,83}}</string>
                <key>sourceSize</key>
                <string>{173,181}</string>
            </dict>
            <key>skill_50/0145/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,448},{88,54}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,51},{88,54}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,437},{104,62}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,43},{104,62}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,249},{142,96}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{142,96}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,256},{86,92}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{86,92}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,269},{80,92}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,10},{80,92}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,448},{52,96}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{52,96}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,448},{46,74}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,250},{98,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{98,110}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,362},{84,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,9},{84,98}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,351},{84,84}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{84,84}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,350},{100,74}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,31},{100,74}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,362},{122,82}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{122,82}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,125},{142,84}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{142,84}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,347},{144,88}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{144,88}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
            <key>skill_50/0145/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,155},{146,92}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{146,92}}</string>
                <key>sourceSize</key>
                <string>{146,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_490.pvr.ccz</string>
            <key>size</key>
            <string>{687,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feafbd519ff1ddbc51f55fd38eceb335$</string>
            <key>textureFileName</key>
            <string>skill_490.pvr.ccz</string>
        </dict>
    </dict>
</plist>
