<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achi__title.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,330},{138,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,38}}</string>
                <key>sourceSize</key>
                <string>{138,38}</string>
            </dict>
            <key>achi_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,82},{246,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,25}}</string>
                <key>sourceSize</key>
                <string>{246,25}</string>
            </dict>
            <key>achi_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,82},{238,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,19}}</string>
                <key>sourceSize</key>
                <string>{238,19}</string>
            </dict>
            <key>achi_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>achi_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,128}}</string>
                <key>sourceSize</key>
                <string>{502,128}</string>
            </dict>
            <key>achi_item_name0.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,367},{93,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,23}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>achi_item_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,272},{93,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,23}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>achi_item_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,177},{93,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,23}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>achi_item_name3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,417},{91,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,23}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>achi_item_name4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,82},{93,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,23}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>achi_item_name5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,322},{93,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,23}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>achi_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,470},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achievementui.pvr.ccz</string>
            <key>size</key>
            <string>{222,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50c9770e37d74ffba0bce7cf9634eeb3$</string>
            <key>textureFileName</key>
            <string>achievementui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
