<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boxlayer_bar_boxcollect.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,223},{122,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,19}}</string>
                <key>sourceSize</key>
                <string>{122,19}</string>
            </dict>
            <key>boxlayer_barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,37},{130,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,25}}</string>
                <key>sourceSize</key>
                <string>{130,25}</string>
            </dict>
            <key>boxlayer_boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,34},{216,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,108}}</string>
                <key>sourceSize</key>
                <string>{216,108}</string>
            </dict>
            <key>boxlayer_boxicon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,78},{162,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,143}}</string>
                <key>sourceSize</key>
                <string>{162,143}</string>
            </dict>
            <key>boxlayer_boxicon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,37},{168,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,145}}</string>
                <key>sourceSize</key>
                <string>{168,145}</string>
            </dict>
            <key>boxlayer_boxicon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,144},{169,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,147}}</string>
                <key>sourceSize</key>
                <string>{169,147}</string>
            </dict>
            <key>boxlayer_boxicon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{184,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,163}}</string>
                <key>sourceSize</key>
                <string>{184,163}</string>
            </dict>
            <key>boxlayer_boxname_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,293},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,26}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>boxlayer_boxname_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,273},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,26}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>boxlayer_boxname_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,298},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,26}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>boxlayer_boxname_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,184},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,26}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>boxlayer_boxnamebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{165,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,33}}</string>
                <key>sourceSize</key>
                <string>{165,33}</string>
            </dict>
            <key>boxlayer_combg.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,244},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>boxlayer_icon_boxline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{571,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,74}}</string>
                <key>sourceSize</key>
                <string>{571,74}</string>
            </dict>
            <key>boxlayer_icon_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,271},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>boxlayer_icon_clock_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,34},{1,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,8}}</string>
                <key>sourceSize</key>
                <string>{1,8}</string>
            </dict>
            <key>boxlayer_icon_parts_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,254},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>boxlayer_icon_parts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,254},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>boxlayer_icon_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,279},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>boxlayer_test_ptbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,199},{137,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,32}}</string>
                <key>sourceSize</key>
                <string>{137,32}</string>
            </dict>
            <key>boxlayer_text_cbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{103,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,39}}</string>
                <key>sourceSize</key>
                <string>{103,39}</string>
            </dict>
            <key>boxlayer_text_djdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{126,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{126,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>boxlayer_text_dkxsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,301},{89,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,20}}</string>
                <key>sourceSize</key>
                <string>{93,24}</string>
            </dict>
            <key>boxlayer_text_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,254},{36,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>boxlayer_text_hjbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,293},{108,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,31}}</string>
                <key>sourceSize</key>
                <string>{108,31}</string>
            </dict>
            <key>boxlayer_text_knbh.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,300},{91,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,24}}</string>
                <key>sourceSize</key>
                <string>{95,28}</string>
            </dict>
            <key>boxlayer_text_ksjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,199},{87,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,25}}</string>
                <key>sourceSize</key>
                <string>{87,25}</string>
            </dict>
            <key>boxlayer_text_ljdk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,244},{98,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,27}}</string>
                <key>sourceSize</key>
                <string>{98,27}</string>
            </dict>
            <key>boxlayer_text_ljdk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,226},{79,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,23}}</string>
                <key>sourceSize</key>
                <string>{79,23}</string>
            </dict>
            <key>boxlayer_text_lv_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,271},{50,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,26}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>boxlayer_text_lv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,293},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,26}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>boxlayer_text_lv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,293},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,26}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>boxlayer_text_lv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,243},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,26}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>boxlayer_text_lv_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,243},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,26}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>boxlayer_text_miao.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,300},{20,20}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>boxlayer_text_swjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,175},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>boxlayer_text_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,276},{73,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,20}}</string>
                <key>sourceSize</key>
                <string>{73,20}</string>
            </dict>
            <key>boxlayer_text_xclqsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,278},{105,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,20}}</string>
                <key>sourceSize</key>
                <string>{105,20}</string>
            </dict>
            <key>boxlayer_text_xiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,144},{36,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>boxlayer_text_xysp.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,251},{61,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,18}}</string>
                <key>sourceSize</key>
                <string>{61,18}</string>
            </dict>
            <key>boxlayer_text_zsbh.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,300},{91,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,24}}</string>
                <key>sourceSize</key>
                <string>{91,24}</string>
            </dict>
            <key>boxlayer_time_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,233},{136,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{136,19}}</string>
                <key>sourceSize</key>
                <string>{140,25}</string>
            </dict>
            <key>boxlayer_time_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,37},{136,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{136,19}}</string>
                <key>sourceSize</key>
                <string>{140,25}</string>
            </dict>
            <key>boxlayer_time_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,144},{136,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,21}}</string>
                <key>sourceSize</key>
                <string>{140,25}</string>
            </dict>
            <key>boxlayer_top_boxmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,78},{226,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,119}}</string>
                <key>sourceSize</key>
                <string>{226,119}</string>
            </dict>
            <key>boxlayer_top_touying.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{275,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,30}}</string>
                <key>sourceSize</key>
                <string>{275,30}</string>
            </dict>
            <key>boxlayer_topbox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,184},{90,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,74}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>boxlayer_topbox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,184},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boxlayerui.pvr.ccz</string>
            <key>size</key>
            <string>{1019,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:151d80c527e9973dceb4de7867acc8f5$</string>
            <key>textureFileName</key>
            <string>boxlayerui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
