<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,855},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>box_shop_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,322},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>com_addbtn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,964},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>com_addbtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,964},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>com_all_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,898},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,67}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>com_barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,654},{154,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{154,22}}</string>
                <key>sourceSize</key>
                <string>{162,28}</string>
            </dict>
            <key>com_bosshpbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{234,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,17}}</string>
                <key>sourceSize</key>
                <string>{234,17}</string>
            </dict>
            <key>com_bosshpbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{295,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,66}}</string>
                <key>sourceSize</key>
                <string>{295,66}</string>
            </dict>
            <key>com_cancle.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,96},{56,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>com_cancle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,276},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>com_cancle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,226},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>com_cancle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,645},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>com_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,205},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>com_fangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,972},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>com_finger_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,438},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>com_goldbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,152},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>com_goldnumbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,456},{113,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,42}}</string>
                <key>sourceSize</key>
                <string>{113,42}</string>
            </dict>
            <key>com_guaiqia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{224,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{224,44}}</string>
                <key>sourceSize</key>
                <string>{228,48}</string>
            </dict>
            <key>com_guanqia.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,245},{181,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,8}}</string>
                <key>sourceSize</key>
                <string>{181,8}</string>
            </dict>
            <key>com_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,972},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,38}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>com_hp_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,829},{46,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,67}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>com_hp_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,579},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{40,22}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>com_hpbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,829},{29,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{29,16}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>com_icon_jingqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,158},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>com_icon_parts_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,579},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>com_icon_parts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,456},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>com_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,49}}</string>
                <key>sourceSize</key>
                <string>{394,49}</string>
            </dict>
            <key>com_item_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,966},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>com_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,388},{58,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{58,48}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>com_ok_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,513},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>com_pagejt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,49},{39,45}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>com_pagejt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,966},{51,43}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{51,43}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>com_pagejt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{39,45}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>com_pause_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,326},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>com_popreward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{377,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,103}}</string>
                <key>sourceSize</key>
                <string>{377,103}</string>
            </dict>
            <key>com_protect_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,847},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,67}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>com_protectbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,829},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{27,16}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>com_rewardboxgold.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,500},{104,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,74}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>com_skip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,265},{52,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,48}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>com_skip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,735},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>com_soldout.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,576},{104,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,67}}</string>
                <key>sourceSize</key>
                <string>{104,67}</string>
            </dict>
            <key>com_soldout_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{163,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,212}}</string>
                <key>sourceSize</key>
                <string>{163,212}</string>
            </dict>
            <key>com_story_textbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,365},{640,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,58}}</string>
                <key>sourceSize</key>
                <string>{640,58}</string>
            </dict>
            <key>com_text_gxhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,603},{173,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,49}}</string>
                <key>sourceSize</key>
                <string>{173,49}</string>
            </dict>
            <key>com_textbg_boxreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{491,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,94}}</string>
                <key>sourceSize</key>
                <string>{491,94}</string>
            </dict>
            <key>com_tilimax.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,810},{43,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,17}}</string>
                <key>sourceSize</key>
                <string>{43,17}</string>
            </dict>
            <key>com_wup_goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,654},{163,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,38}}</string>
                <key>sourceSize</key>
                <string>{163,38}</string>
            </dict>
            <key>jiantou_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>jiantou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,315},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>main_bgl_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,495},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>main_box_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,895},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>main_juqing_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,821},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>main_wujing_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,238},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>mainui_newmappoint_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,895},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>mainui_newmappoint_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,694},{161,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,133}}</string>
                <key>sourceSize</key>
                <string>{161,133}</string>
            </dict>
            <key>mian_chenjiu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,412},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>mian_gonggao_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,895},{64,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{64,69}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comui.pvr.ccz</string>
            <key>size</key>
            <string>{439,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a54001faa21d9b3cac4abcf922e0ebe$</string>
            <key>textureFileName</key>
            <string>comui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
