<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{154,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,56}}</string>
                <key>sourceSize</key>
                <string>{154,56}</string>
            </dict>
            <key>dungeon_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{154,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,56}}</string>
                <key>sourceSize</key>
                <string>{154,56}</string>
            </dict>
            <key>dungeon_des_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{298,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,42}}</string>
                <key>sourceSize</key>
                <string>{298,42}</string>
            </dict>
            <key>dungeon_destext_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,37}}</string>
                <key>sourceSize</key>
                <string>{344,37}</string>
            </dict>
            <key>dungeon_destext_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{336,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,36}}</string>
                <key>sourceSize</key>
                <string>{336,36}</string>
            </dict>
            <key>dungeon_destext_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{336,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,17}}</string>
                <key>sourceSize</key>
                <string>{336,17}</string>
            </dict>
            <key>dungeon_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,186},{115,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,86}}</string>
                <key>sourceSize</key>
                <string>{115,86}</string>
            </dict>
            <key>dungeon_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>dungeon_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,303},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>dungeon_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,328},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>dungeon_icon_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,74},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>dungeon_icon_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,252},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dungeon_icon_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,253},{70,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dungeon_icon_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,325},{62,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{62,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>dungeon_icon_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,203},{68,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{68,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>dungeon_icon_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,184},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{66,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dungeon_icon_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,271},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>dungeon_icon_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,114},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{68,78}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>dungeon_icon_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,129},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>dungeon_icon_effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,177},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>dungeon_opentext_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dungeon_opentext_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dungeon_opentext_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,92},{93,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,20}}</string>
                <key>sourceSize</key>
                <string>{93,20}</string>
            </dict>
            <key>dungeon_text_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,203},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>dungeon_text_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{70,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{70,38}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>dungeon_text_freetime.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,72},{104,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,18}}</string>
                <key>sourceSize</key>
                <string>{104,18}</string>
            </dict>
            <key>dungeon_text_time0.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,345},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,20}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>dungeon_text_time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,339},{44,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,20}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>dungeon_text_time2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,361},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,20}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>dungeon_text_time3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,339},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,20}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>dungeon_text_time4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,299},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,20}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>dungeon_text_time5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,253},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,20}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>dungeon_text_tz.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,325},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>dungeon_text_tz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,114},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>dungeon_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,37},{111,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,33}}</string>
                <key>sourceSize</key>
                <string>{111,33}</string>
            </dict>
            <key>dungeon_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,142},{111,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,33}}</string>
                <key>sourceSize</key>
                <string>{111,33}</string>
            </dict>
            <key>dungeon_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{111,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,33}}</string>
                <key>sourceSize</key>
                <string>{111,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dungeonui.pvr.ccz</string>
            <key>size</key>
            <string>{502,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf9743f47ab57c64bac021dc8d1b27ff$</string>
            <key>textureFileName</key>
            <string>dungeonui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
