<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_icon_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>bar_icon_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,72},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,38}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>bar_icon_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,44},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{40,22}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>combo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,111}}</string>
                <key>sourceSize</key>
                <string>{225,111}</string>
            </dict>
            <key>crit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,60},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,27}}</string>
                <key>sourceSize</key>
                <string>{75,27}</string>
            </dict>
            <key>crit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,31},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,27}}</string>
                <key>sourceSize</key>
                <string>{75,27}</string>
            </dict>
            <key>crit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,27}}</string>
                <key>sourceSize</key>
                <string>{75,27}</string>
            </dict>
            <key>crush_boundary.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{640,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{640,6}}</string>
                <key>sourceSize</key>
                <string>{640,16}</string>
            </dict>
            <key>def_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,67},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,21}}</string>
                <key>sourceSize</key>
                <string>{54,21}</string>
            </dict>
            <key>def_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,44},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,21}}</string>
                <key>sourceSize</key>
                <string>{54,21}</string>
            </dict>
            <key>def_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,101},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,21}}</string>
                <key>sourceSize</key>
                <string>{54,21}</string>
            </dict>
            <key>def_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,101},{70,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,21}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>drop_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drop_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,46},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drop_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,73},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{36,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fight_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,20},{154,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{154,22}}</string>
                <key>sourceSize</key>
                <string>{162,28}</string>
            </dict>
            <key>fight_bar_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{146,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,16}}</string>
                <key>sourceSize</key>
                <string>{146,16}</string>
            </dict>
            <key>fight_bar_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,106},{146,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,16}}</string>
                <key>sourceSize</key>
                <string>{146,16}</string>
            </dict>
            <key>fight_item_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,44},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>fight_stage_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,66},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,42}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>fight_stage_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{52,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>fight_stage_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,84},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,28}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>monster_hp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,54},{60,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,6}}</string>
                <key>sourceSize</key>
                <string>{64,10}</string>
            </dict>
            <key>monster_hp_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,89},{70,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{70,12}}</string>
                <key>sourceSize</key>
                <string>{76,16}</string>
            </dict>
            <key>swap_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>tag_col.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>tag_confuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,54},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tag_def_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>tag_fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,54},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,72},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>tag_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_relive.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,40},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tag_round_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,38},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>tag_round_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,72},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>tag_round_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,38},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>tag_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,62},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,62},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_stay.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_thunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,72},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>tip_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,73},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightUi.pvr.ccz</string>
            <key>size</key>
            <string>{1010,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e452afbbddbcaae5effaf36e87615fb$</string>
            <key>textureFileName</key>
            <string>fightUi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
