<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loginui_text_xysj.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,443},{123,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,32}}</string>
                <key>sourceSize</key>
                <string>{123,32}</string>
            </dict>
            <key>loginui_week_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,242},{354,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,24}}</string>
                <key>sourceSize</key>
                <string>{354,24}</string>
            </dict>
            <key>main_player_off_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,301},{140,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{140,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>main_player_off_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,301},{140,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{140,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>main_playeron_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,303},{144,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,46}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>main_playeron_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,600},{144,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,46}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>main_text_480.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,881},{45,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,22}}</string>
                <key>sourceSize</key>
                <string>{45,22}</string>
            </dict>
            <key>main_text_ljcz.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,731},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
            <key>main_text_ljxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,731},{90,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,26}}</string>
                <key>sourceSize</key>
                <string>{90,26}</string>
            </dict>
            <key>main_text_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,868},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>mainui_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,169},{62,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,78}</string>
            </dict>
            <key>mainui_bag_combg_.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,797},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{82,86}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>mainui_bag_comselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,410},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>mainui_bag_delect.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,731},{84,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>mainui_bag_select_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,303},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>mainui_bag_selectbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,622},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>mainui_bag_spitem_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,485},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{82,86}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>mainui_equip_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,242},{354,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{354,56}}</string>
                <key>sourceSize</key>
                <string>{356,58}</string>
            </dict>
            <key>mainui_equip_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,242},{354,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{354,56}}</string>
                <key>sourceSize</key>
                <string>{356,58}</string>
            </dict>
            <key>mainui_equip_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,242},{354,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{354,56}}</string>
                <key>sourceSize</key>
                <string>{356,58}</string>
            </dict>
            <key>mainui_expbar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,598},{178,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,12}}</string>
                <key>sourceSize</key>
                <string>{180,16}</string>
            </dict>
            <key>mainui_expbar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,928},{176,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{176,10}}</string>
                <key>sourceSize</key>
                <string>{180,16}</string>
            </dict>
            <key>mainui_fightbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,242},{625,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,12}}</string>
                <key>sourceSize</key>
                <string>{625,12}</string>
            </dict>
            <key>mainui_fightbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,242},{627,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,14}}</string>
                <key>sourceSize</key>
                <string>{627,14}</string>
            </dict>
            <key>mainui_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,826},{58,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{58,48}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>mainui_hp_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{640,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,151}}</string>
                <key>sourceSize</key>
                <string>{640,151}</string>
            </dict>
            <key>mainui_hpbg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,183},{106,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{106,40}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>mainui_hpbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,746},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>mainui_item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,600},{224,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{224,58}}</string>
                <key>sourceSize</key>
                <string>{238,62}</string>
            </dict>
            <key>mainui_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,537},{89,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{89,83}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mainui_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,708},{95,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{95,79}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mainui_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{85,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{85,77}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mainui_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,823},{79,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{79,77}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mainui_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,307},{87,73}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{87,73}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mainui_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,183},{118,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,153}}</string>
                <key>sourceSize</key>
                <string>{118,153}</string>
            </dict>
            <key>mainui_item_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,124},{285,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{285,57}}</string>
                <key>sourceSize</key>
                <string>{285,71}</string>
            </dict>
            <key>mainui_itemtext_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,730},{62,32}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{62,32}}</string>
                <key>sourceSize</key>
                <string>{98,62}</string>
            </dict>
            <key>mainui_itemtext_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,866},{48,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>mainui_itemtext_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,896},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>mainui_itemtext_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,822},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>mainui_itemtext_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,872},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>mainui_itemtext_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,881},{46,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,26}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>mainui_mainitem_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,291},{142,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{142,36}}</string>
                <key>sourceSize</key>
                <string>{146,42}</string>
            </dict>
            <key>mainui_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,242},{640,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,109}}</string>
                <key>sourceSize</key>
                <string>{640,109}</string>
            </dict>
            <key>mainui_name_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,909},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{86,30}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>mainui_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,877},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{86,30}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>mainui_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,896},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{86,30}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>mainui_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,645},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,30}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>mainui_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,573},{87,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,29}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>mainui_order.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,796},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>mainui_orderbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,81},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>mainui_pagemark_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,902},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{28,28}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>mainui_pagemark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,723},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>mainui_shuxin_mainbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{302,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{302,120}}</string>
                <key>sourceSize</key>
                <string>{330,126}</string>
            </dict>
            <key>mainui_shuxinicon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,863},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mainui_shuxinicon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,905},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mainui_shuxinicon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,899},{38,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mainui_shuxinicon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,681},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mainui_shuxinicon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,825},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mainui_shuxinicon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,787},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mainui_shuxinicon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,905},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mainui_shuxinicon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,901},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mainui_shuxinicon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,876},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mainui_shuxinicon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,617},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>mainui_shuxinicon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,303},{148,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{148,38}}</string>
                <key>sourceSize</key>
                <string>{150,46}</string>
            </dict>
            <key>mainui_skill_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,242},{356,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{356,56}}</string>
                <key>sourceSize</key>
                <string>{356,58}</string>
            </dict>
            <key>mainui_skill_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,242},{356,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{356,56}}</string>
                <key>sourceSize</key>
                <string>{356,58}</string>
            </dict>
            <key>mainui_skill_itembg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,613},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{97,97}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>mainui_skill_itembg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,612},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{97,97}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>mainui_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>mainui_text_dqwp.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,832},{138,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{138,34}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>mainui_text_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,730},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,24}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>mainui_text_hdwp.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,796},{138,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{138,34}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>mainui_text_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,765},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{40,20}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>mainui_text_mcwp.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,789},{138,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{138,34}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>mainui_text_mjwp.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,477},{138,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{138,34}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>mainui_text_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,902},{46,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,20}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>mainui_text_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,896},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{50,26}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>mainui_text_superskill.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,868},{100,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{100,26}}</string>
                <key>sourceSize</key>
                <string>{106,30}</string>
            </dict>
            <key>mainui_text_zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,794},{51,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,26}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>mainui_wenpen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,233},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>mainui_wenpon_shuxinbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,884},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{120,42}}</string>
                <key>sourceSize</key>
                <string>{130,50}</string>
            </dict>
            <key>mainui_wenpontext_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{626,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{626,238}}</string>
                <key>sourceSize</key>
                <string>{640,248}</string>
            </dict>
            <key>mainui_zhuangbei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,183},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{114,116}}</string>
                <key>sourceSize</key>
                <string>{128,126}</string>
            </dict>
            <key>mainui_zhuangbei_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,794},{80,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{80,81}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>store_dayactivity.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,817},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>store_daylimit_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,612},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>store_dungeon.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,604},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>store_gifts.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,645},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>store_icon_firstbuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,517},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>store_icon_firstbuy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,561},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>store_icon_firstbuy_3z.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,681},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>store_icon_jrjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,453},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>store_icon_midautumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,396},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>store_icon_qixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,712},{88,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>store_onlinereward.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,477},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>store_supergift.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,711},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>store_timeslimits_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,712},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainui.pvr.ccz</string>
            <key>size</key>
            <string>{1021,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0690e55662c23bb87ad17fda0b1f4f$</string>
            <key>textureFileName</key>
            <string>mainui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
