<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanqia_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,102},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>guanqia_boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,98},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>guanqia_btn_exit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,98},{182,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{182,66}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>guanqia_btn_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,98},{182,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{182,66}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>guanqia_btn_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{182,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{182,66}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>guanqia_btn_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{182,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{182,66}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>guanqia_text_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,70},{132,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,30}}</string>
                <key>sourceSize</key>
                <string>{132,30}</string>
            </dict>
            <key>guanqia_tippoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,97},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>guanqia_tiptextbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{112,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,93}}</string>
                <key>sourceSize</key>
                <string>{112,93}</string>
            </dict>
            <key>mapui_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,178},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>mapui_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{88,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{88,126}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>mapui_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,240},{140,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,10}}</string>
                <key>sourceSize</key>
                <string>{140,12}</string>
            </dict>
            <key>mapui_playerpos_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,102},{70,100}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,100}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>mapui_playerpos_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,166},{72,100}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,100}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>mapui_playerpos_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,166},{86,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,100}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>mapui_playerpos_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,166},{80,100}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,100}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>mapui_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,191},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,26}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>mapui_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,174},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{58,68}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>mapui_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{634,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{634,94}}</string>
                <key>sourceSize</key>
                <string>{650,100}</string>
            </dict>
            <key>quanqia_box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,68},{60,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{60,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>quanqia_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,172},{60,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{60,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>quanqia_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>quanqia_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,178},{60,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>test_guanqia_bqt.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,131},{89,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{89,30}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>test_guanqia_fq.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,174},{61,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{61,32}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>test_guanqia_nt.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,130},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{59,30}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>test_guanqia_tp.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,137},{61,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{61,30}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>test_guanqia_tz.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,137},{61,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{61,30}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>test_guanqia_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,200},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{59,30}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>test_guanqia_zgq.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,97},{91,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{91,32}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>text_quanqia_gqts.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,215},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,24}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>text_quanqia_jqxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,189},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,24}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>text_quanqia_kndl.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,163},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,24}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>word_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,166},{88,94}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{88,94}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapui.pvr.ccz</string>
            <key>size</key>
            <string>{994,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:021d98a60996e7a951da4f43b81e3444$</string>
            <key>textureFileName</key>
            <string>mapui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
