<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>store_boxicon_cqbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,401},{119,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,100}}</string>
                <key>sourceSize</key>
                <string>{119,100}</string>
            </dict>
            <key>store_boxicon_jxbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,280},{119,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,100}}</string>
                <key>sourceSize</key>
                <string>{119,100}</string>
            </dict>
            <key>store_boxicon_sqbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,566},{119,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,100}}</string>
                <key>sourceSize</key>
                <string>{119,100}</string>
            </dict>
            <key>store_btn_sx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,583},{120,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,59}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>store_btn_sx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,668},{120,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,59}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>store_btn_sx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{120,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,59}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>store_crystal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,723},{77,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,66}</string>
            </dict>
            <key>store_crystal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,503},{78,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,69}</string>
            </dict>
            <key>store_crystal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,729},{109,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,103}}</string>
                <key>sourceSize</key>
                <string>{109,103}</string>
            </dict>
            <key>store_crystal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,552},{121,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,90}}</string>
                <key>sourceSize</key>
                <string>{121,90}</string>
            </dict>
            <key>store_gcbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{140,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,28}}</string>
                <key>sourceSize</key>
                <string>{140,28}</string>
            </dict>
            <key>store_goldicon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,644},{121,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,77}}</string>
                <key>sourceSize</key>
                <string>{121,77}</string>
            </dict>
            <key>store_goldicon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{142,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,93}}</string>
                <key>sourceSize</key>
                <string>{142,93}</string>
            </dict>
            <key>store_goldicon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{149,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,104}}</string>
                <key>sourceSize</key>
                <string>{149,104}</string>
            </dict>
            <key>store_goldicon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>store_icon_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,303},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>store_icon_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,789},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>store_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,729},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>store_iteminfo_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,789},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>store_iteminfo_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,705},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>store_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,633},{28,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,2}}</string>
                <key>sourceSize</key>
                <string>{28,2}</string>
            </dict>
            <key>store_namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{562,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,108}}</string>
                <key>sourceSize</key>
                <string>{562,108}</string>
            </dict>
            <key>store_nnumsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,392},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>store_redbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,183}}</string>
                <key>sourceSize</key>
                <string>{531,185}</string>
            </dict>
            <key>store_spicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,763},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>store_tag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,503},{141,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,47}}</string>
                <key>sourceSize</key>
                <string>{141,47}</string>
            </dict>
            <key>store_tag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,124},{143,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>store_text_czthsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,108},{207,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,39}}</string>
                <key>sourceSize</key>
                <string>{207,39}</string>
            </dict>
            <key>store_text_sx.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,802},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>store_text_tag_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,269},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>store_text_tag_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,763},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>store_text_tag_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,357},{56,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{56,33}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>store_text_tag_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,583},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>store_text_tag_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,705},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>store_text_tag_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,633},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>store_text_tag_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,705},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>store_text_tag_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,454},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>store_textbox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,317},{170,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,51}}</string>
                <key>sourceSize</key>
                <string>{170,51}</string>
            </dict>
            <key>store_textbox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,108},{170,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,51}}</string>
                <key>sourceSize</key>
                <string>{170,51}</string>
            </dict>
            <key>store_textbox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,108},{170,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,51}}</string>
                <key>sourceSize</key>
                <string>{170,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newstoreui.pvr.ccz</string>
            <key>size</key>
            <string>{511,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3503479c38433d8c591f1ab8cac081b9$</string>
            <key>textureFileName</key>
            <string>newstoreui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
