<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank__reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,631},{211,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,40}}</string>
                <key>sourceSize</key>
                <string>{211,40}</string>
            </dict>
            <key>rank_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rank_choose_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,820},{109,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,27}}</string>
                <key>sourceSize</key>
                <string>{109,27}</string>
            </dict>
            <key>rank_com_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{141,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,116}}</string>
                <key>sourceSize</key>
                <string>{141,116}</string>
            </dict>
            <key>rank_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,940},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>rank_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,871},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>rank_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,973},{98,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,17}}</string>
                <key>sourceSize</key>
                <string>{98,17}</string>
            </dict>
            <key>rank_free_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,433},{173,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,23}}</string>
                <key>sourceSize</key>
                <string>{173,23}</string>
            </dict>
            <key>rank_givename.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,820},{109,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,27}}</string>
                <key>sourceSize</key>
                <string>{109,27}</string>
            </dict>
            <key>rank_goin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,673},{145,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,35}}</string>
                <key>sourceSize</key>
                <string>{145,35}</string>
            </dict>
            <key>rank_goin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,673},{133,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,35}}</string>
                <key>sourceSize</key>
                <string>{133,35}</string>
            </dict>
            <key>rank_gonggao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,913},{78,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,91}}</string>
                <key>sourceSize</key>
                <string>{80,95}</string>
            </dict>
            <key>rank_gonggao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{78,91}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,91}}</string>
                <key>sourceSize</key>
                <string>{80,95}</string>
            </dict>
            <key>rank_head_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,717},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>rank_head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,621},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>rank_head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,877},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>rank_head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,877},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>rank_head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,709},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>rank_head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,709},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>rank_intr_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,842},{107,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,27}}</string>
                <key>sourceSize</key>
                <string>{107,27}</string>
            </dict>
            <key>rank_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,973},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>rank_know.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,589},{88,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{88,30}</string>
            </dict>
            <key>rank_last_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,589},{212,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,40}}</string>
                <key>sourceSize</key>
                <string>{212,40}</string>
            </dict>
            <key>rank_last_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{208,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,74}}</string>
                <key>sourceSize</key>
                <string>{208,74}</string>
            </dict>
            <key>rank_paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,621},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>rank_passport_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,805},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>rank_personal_inf.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,841},{125,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,34}}</string>
                <key>sourceSize</key>
                <string>{125,34}</string>
            </dict>
            <key>rank_ranking_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,665},{173,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,39}}</string>
                <key>sourceSize</key>
                <string>{173,39}</string>
            </dict>
            <key>rank_rankreward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,813},{107,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,27}}</string>
                <key>sourceSize</key>
                <string>{107,27}</string>
            </dict>
            <key>rank_reward_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,298}}</string>
                <key>sourceSize</key>
                <string>{545,300}</string>
            </dict>
            <key>rank_rule_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{545,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,129}}</string>
                <key>sourceSize</key>
                <string>{545,129}</string>
            </dict>
            <key>rank_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,673},{183,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,34}}</string>
                <key>sourceSize</key>
                <string>{183,34}</string>
            </dict>
            <key>rank_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,936},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>rank_self_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{512,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,154}}</string>
                <key>sourceSize</key>
                <string>{512,154}</string>
            </dict>
            <key>rank_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,871},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>rank_third.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,840},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{49,60}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>rank_total_floor_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,841},{63,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,20}}</string>
                <key>sourceSize</key>
                <string>{63,20}</string>
            </dict>
            <key>rank_total_floor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,973},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rankui.pvr.ccz</string>
            <key>size</key>
            <string>{549,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e859d18320c99021dbd36f4ff9c3097$</string>
            <key>textureFileName</key>
            <string>rankui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
