<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sicon_bingdong.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,438},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_bingdong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,287},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_bingdong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,282},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_bingfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,402},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_dianguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,327},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_diyuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,252},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_fanlao.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,177},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_fengbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,102},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_hanbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,420},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_hanbing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,224},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_hanbing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,212},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_hudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,426},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_hudun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,212},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_hudun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,217},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_huifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,421},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_huifu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,212},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_huifu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,148},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_hunluan.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,420},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_huoqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,357},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_huoqiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,142},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_huoqiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,142},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_huoyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,352},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_huoyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,147},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_huoyan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,142},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_jinghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,369},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_jinghua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,72},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_jinghua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,72},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_jiuyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_leidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,351},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_leidian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_leidian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_leidzm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_leiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,351},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_leiming1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,72},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_leiming2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_meihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_rongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_suoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,300},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_yunshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>sicon_zengfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,282},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_zengfu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,72},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_ziliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,282},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>sicon_ziliao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sicon_ziliao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,77},{68,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>skill_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,22}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>skill_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,477},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillicon.pvr.ccz</string>
            <key>size</key>
            <string>{524,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fc841ae9747840e05a8ef9f86b76b5e$</string>
            <key>textureFileName</key>
            <string>skillicon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
