<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{257,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,150}}</string>
                <key>sourceSize</key>
                <string>{257,150}</string>
            </dict>
            <key>box_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,154},{162,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,165}}</string>
                <key>sourceSize</key>
                <string>{162,165}</string>
            </dict>
            <key>store_btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,321},{120,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{120,56}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>store_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,154},{207,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,39}}</string>
                <key>sourceSize</key>
                <string>{207,39}</string>
            </dict>
            <key>store_namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{562,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,108}}</string>
                <key>sourceSize</key>
                <string>{562,108}</string>
            </dict>
            <key>storenew_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{539,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,107}}</string>
                <key>sourceSize</key>
                <string>{539,107}</string>
            </dict>
            <key>storenew_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{539,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,107}}</string>
                <key>sourceSize</key>
                <string>{539,107}</string>
            </dict>
            <key>storenew_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{539,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,107}}</string>
                <key>sourceSize</key>
                <string>{539,107}</string>
            </dict>
            <key>storenew_icon_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,148},{59,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,20}}</string>
                <key>sourceSize</key>
                <string>{59,20}</string>
            </dict>
            <key>storenew_icon_5z.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,321},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>storenew_icon_dbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,24}}</string>
                <key>sourceSize</key>
                <string>{68,24}</string>
            </dict>
            <key>storenew_text_jl.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,364},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>storenew_text_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,363},{69,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,38}}</string>
                <key>sourceSize</key>
                <string>{69,38}</string>
            </dict>
            <key>storenew_text_lb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,362},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>storenew_text_sjwq.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,282},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>storenew_text_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,323},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>storenew_text_xy.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,282},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>storenew_text_yjwq.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,154},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>text_ddsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,72},{74,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,20}}</string>
                <key>sourceSize</key>
                <string>{80,20}</string>
            </dict>
            <key>text_djdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,379},{126,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{126,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>text_djdk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,154},{126,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{126,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>text_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,209},{36,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>text_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,253},{20,20}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>text_xs.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,112},{36,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>storeui.pvr.ccz</string>
            <key>size</key>
            <string>{851,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d49699e0f02a2ee683e3dac22c86828$</string>
            <key>textureFileName</key>
            <string>storeui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
