<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cbd_hbj/cbd_hbj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,446},{50,106}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,18},{50,106}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
            <key>cbd_hbj/cbd_hbj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{92,114}}</string>
                <key>offset</key>
                <string>{23,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,13},{92,114}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
            <key>cbd_hbj/cbd_hbj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,190},{118,120}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,1},{118,120}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
            <key>cbd_hbj/cbd_hbj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,312},{132,122}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{132,122}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
            <key>cbd_hbj/cbd_hbj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,164}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{168,164}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
            <key>cbd_hbj/cbd_hbj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{134,164}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{134,164}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
            <key>cbd_hbj/cbd_hbj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{126,158}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{126,158}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
            <key>cbd_hbj/cbd_hbj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,96},{92,96}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,110},{92,96}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
            <key>cbd_hbj/cbd_hbj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{66,104}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,101},{66,104}}</string>
                <key>sourceSize</key>
                <string>{168,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_60.pvr.ccz</string>
            <key>size</key>
            <string>{288,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76652454ad911496dca6d5ebc5cc946a$</string>
            <key>textureFileName</key>
            <string>skill_60.pvr.ccz</string>
        </dict>
    </dict>
</plist>
