<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiemian_dd1/qun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,415},{99,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,54}}</string>
                <key>sourceSize</key>
                <string>{99,54}</string>
            </dict>
            <key>jiemian_dd1/qun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,315},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>jiemian_dd1/ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,311}}</string>
                <key>sourceSize</key>
                <string>{319,311}</string>
            </dict>
            <key>jiemian_dd1/ren1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{119,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,176}}</string>
                <key>sourceSize</key>
                <string>{119,176}</string>
            </dict>
            <key>jiemian_dd1/yan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,420},{47,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,70}}</string>
                <key>sourceSize</key>
                <string>{47,70}</string>
            </dict>
            <key>jiemian_dd1/yan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,420},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>jiemian_dd1/yan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,315},{86,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,103}}</string>
                <key>sourceSize</key>
                <string>{86,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uirenwu0.pvr.ccz</string>
            <key>size</key>
            <string>{324,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cb56fd083ece5467d4ff71967ec6934$</string>
            <key>textureFileName</key>
            <string>uirenwu0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
