<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangytj/daocaoren_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,907},{102,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,92}}</string>
                <key>sourceSize</key>
                <string>{104,92}</string>
            </dict>
            <key>zhangytj/zhangytj_houbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,567},{79,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>zhangytj/zhangytj_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,629},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>zhangytj/zhangytj_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{86,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,113}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>zhangytj/zhangytj_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,828},{93,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,30}}</string>
                <key>sourceSize</key>
                <string>{93,30}</string>
            </dict>
            <key>zhangytj/zhangytj_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,950},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>zhangytj/zhangytj_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,823},{66,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,49}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>zhangytj/zhangytj_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,907},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>zhangytj/zhangytj_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,296},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>zhangytj/zhangytj_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,787},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>zhangytj/zhangytj_youxiabai.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,947},{65,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>zhangytj/zhangytj_youxiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,751},{43,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,68}}</string>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>zhangytj/zhangytj_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,987},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>zhangytj/zhangytj_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,907},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>zhangytj/zhangytj_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,993},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>zhangytj/zhangytj_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,751},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>zhangytj/zhangytj_zuoxiabai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{37,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,74}}</string>
                <key>sourceSize</key>
                <string>{37,74}</string>
            </dict>
            <key>zhangytj/zhangytj_zuoxiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,751},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>zhangytj_dian/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,950},{25,41}}</string>
                <key>offset</key>
                <string>{-49,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,126},{25,41}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,751},{69,71}}</string>
                <key>offset</key>
                <string>{-24,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,98},{69,71}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,296},{51,149}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,4},{51,149}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,828},{77,77}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,75},{77,77}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{129,65}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{129,65}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,461},{131,79}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,88},{131,79}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{123,77}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,90},{123,77}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{107,77}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,90},{107,77}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,860},{89,85}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,83},{89,85}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,472},{71,93}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,78},{71,93}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,717},{93,109}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{93,109}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,652},{97,119}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,48},{97,119}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,176},{113,139}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{113,139}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{97,137}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{97,137}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{73,153}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{73,153}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,164},{73,169}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{73,169}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{69,165}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{69,165}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_dian/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,239},{55,163}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,4},{55,163}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>zhangytj_jn/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,891},{64,48}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,47},{64,48}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,354},{116,58}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,39},{116,58}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,957},{116,62}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{116,62}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{144,70}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{144,70}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,86},{176,76}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{176,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,82}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{176,82}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,90}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{176,90}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{174,98}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{174,98}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{172,106}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{172,106}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,793},{118,112}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,12},{118,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,581},{122,120}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{122,120}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,542},{108,128}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{108,128}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,349},{110,138}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{110,138}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,317},{116,142}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{116,142}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,461},{116,118}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{116,118}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{116,92}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{116,92}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>zhangytj_jn/00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,705},{120,86}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{120,86}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangytj0.pvr.ccz</string>
            <key>size</key>
            <string>{466,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fedc8126d3f7bd803f0e0702385fcacd$</string>
            <key>textureFileName</key>
            <string>zhangytj0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
