<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ele_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>ele_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>ele_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>ele_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{70,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ele_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{70,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ele_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{70,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{70,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ele_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{62,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{62,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>ele_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,78},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>ele_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{70,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>ele_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,72},{68,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{68,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>ele_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,80},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>ele_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,82},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>ele_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>items.pvr.ccz</string>
            <key>size</key>
            <string>{512,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e0cb225026b145265dded956e1f346a$</string>
            <key>textureFileName</key>
            <string>items.pvr.ccz</string>
        </dict>
    </dict>
</plist>
