<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wuqi/cbd_dun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,489},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>wuqi/cbd_dun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,495},{53,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,78}}</string>
                <key>sourceSize</key>
                <string>{53,78}</string>
            </dict>
            <key>wuqi/cbd_dun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,481},{66,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{66,94}</string>
            </dict>
            <key>wuqi/cbd_dun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,155},{66,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{66,94}</string>
            </dict>
            <key>wuqi/cbd_dun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,579},{63,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,91}}</string>
                <key>sourceSize</key>
                <string>{63,91}</string>
            </dict>
            <key>wuqi/cbd_dun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,228},{56,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>wuqi/cbd_dun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,577},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>wuqi/cbd_dun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,577},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>wuqi/cbd_dun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,575},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>wuqi/cbd_dun_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,417},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>wuqi/cbd_wuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,353},{111,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,65}}</string>
                <key>sourceSize</key>
                <string>{111,65}</string>
            </dict>
            <key>wuqi/cbd_wuqi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{104,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,61}}</string>
                <key>sourceSize</key>
                <string>{104,61}</string>
            </dict>
            <key>wuqi/cbd_wuqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,367},{120,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,65}}</string>
                <key>sourceSize</key>
                <string>{120,65}</string>
            </dict>
            <key>wuqi/cbd_wuqi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,234},{125,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,63}}</string>
                <key>sourceSize</key>
                <string>{125,63}</string>
            </dict>
            <key>wuqi/cbd_wuqi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,237},{128,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,57}}</string>
                <key>sourceSize</key>
                <string>{128,57}</string>
            </dict>
            <key>wuqi/cbd_wuqi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,234},{117,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,63}}</string>
                <key>sourceSize</key>
                <string>{117,63}</string>
            </dict>
            <key>wuqi/cbd_wuqi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,229},{103,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,50}}</string>
                <key>sourceSize</key>
                <string>{103,50}</string>
            </dict>
            <key>wuqi/cbd_wuqi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,466},{111,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,56}}</string>
                <key>sourceSize</key>
                <string>{111,56}</string>
            </dict>
            <key>wuqi/cbd_wuqi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,74},{122,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,71}}</string>
                <key>sourceSize</key>
                <string>{122,71}</string>
            </dict>
            <key>wuqi/cbd_wuqi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,361},{118,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,63}}</string>
                <key>sourceSize</key>
                <string>{118,63}</string>
            </dict>
            <key>wuqi/lqc_wuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,594},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>wuqi/lqc_wuqi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,540},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>wuqi/lqc_wuqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,568},{61,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>wuqi/lqc_wuqi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,499},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>wuqi/lqc_wuqi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,223},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>wuqi/lqc_wuqi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,368},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>wuqi/lqc_wuqi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,424},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>wuqi/lqc_wuqi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,223},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>wuqi/lqc_wuqi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,276},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>wuqi/lqc_wuqi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,575},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>wuqi/lsj_wuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{152,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,67}}</string>
                <key>sourceSize</key>
                <string>{152,67}</string>
            </dict>
            <key>wuqi/lsj_wuqi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{158,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,65}}</string>
                <key>sourceSize</key>
                <string>{158,65}</string>
            </dict>
            <key>wuqi/lsj_wuqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,77},{155,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,61}}</string>
                <key>sourceSize</key>
                <string>{155,61}</string>
            </dict>
            <key>wuqi/lsj_wuqi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,73}}</string>
                <key>sourceSize</key>
                <string>{151,73}</string>
            </dict>
            <key>wuqi/lsj_wuqi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{155,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,64}}</string>
                <key>sourceSize</key>
                <string>{155,64}</string>
            </dict>
            <key>wuqi/lsj_wuqi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{151,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,70}}</string>
                <key>sourceSize</key>
                <string>{151,70}</string>
            </dict>
            <key>wuqi/lsj_wuqi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,75},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>wuqi/lsj_wuqi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,75},{151,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,66}}</string>
                <key>sourceSize</key>
                <string>{151,66}</string>
            </dict>
            <key>wuqi/lsj_wuqi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,71}}</string>
                <key>sourceSize</key>
                <string>{151,71}</string>
            </dict>
            <key>wuqi/lsj_wuqi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,77},{154,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,68}}</string>
                <key>sourceSize</key>
                <string>{154,68}</string>
            </dict>
            <key>wuqi/sqy_wuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,327},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>wuqi/sqy_wuqi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,334},{88,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,49}}</string>
                <key>sourceSize</key>
                <string>{88,49}</string>
            </dict>
            <key>wuqi/sqy_wuqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,400},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>wuqi/sqy_wuqi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,448},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>wuqi/sqy_wuqi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,495},{70,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,43}}</string>
                <key>sourceSize</key>
                <string>{70,43}</string>
            </dict>
            <key>wuqi/sqy_wuqi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,312},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>wuqi/sqy_wuqi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,328},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>wuqi/sqy_wuqi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,90},{96,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,63}}</string>
                <key>sourceSize</key>
                <string>{96,63}</string>
            </dict>
            <key>wuqi/sqy_wuqi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,476},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>wuqi/sqy_wuqi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{86,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuangbei0.pvr.ccz</string>
            <key>size</key>
            <string>{511,654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6da77e253dc4120d41b05c08fb48495$</string>
            <key>textureFileName</key>
            <string>zhuangbei0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
