<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree002/tree02_arm_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,81},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>tree002/tree02_arm_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,197},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>tree002/tree02_arm_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,182},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>tree002/tree02_arm_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,136},{29,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,59}}</string>
                <key>sourceSize</key>
                <string>{29,59}</string>
            </dict>
            <key>tree002/tree02_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,279}}</string>
                <key>sourceSize</key>
                <string>{175,279}</string>
            </dict>
            <key>tree002/tree02_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>tree002/tree02_foot_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,182},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>tree002/tree02_foot_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,136},{81,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,41}}</string>
                <key>sourceSize</key>
                <string>{81,41}</string>
            </dict>
            <key>tree002/tree02_foot_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,179},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>tree002/tree02_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,179},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>tree002/tree02_hand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,179},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>tree002/tree02_tf_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{46,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,77}}</string>
                <key>sourceSize</key>
                <string>{46,77}</string>
            </dict>
            <key>tree002/tree02_tf_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
            <key>tree002/tree02_tf_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,136},{81,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>tree002/tree02_tf_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{132,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,105}}</string>
                <key>sourceSize</key>
                <string>{132,105}</string>
            </dict>
            <key>tree02_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,227},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>tree_02/tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,219},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tree_020.pvr.ccz</string>
            <key>size</key>
            <string>{444,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70b42db39ca024261cec19a036a4e318$</string>
            <key>textureFileName</key>
            <string>tree_020.pvr.ccz</string>
        </dict>
    </dict>
</plist>
