<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jsbing/shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,255},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>jsbing/tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,93},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>jsbing/wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,61}}</string>
                <key>sourceSize</key>
                <string>{173,61}</string>
            </dict>
            <key>jsbing/xiabai.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,255},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>jsbing/youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,283},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>jsbing/youdtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,156},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>jsbing/youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,156},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>jsbing/youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,207},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>jsbing/youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,255},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>jsbing/youxtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,292},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>jsbing/zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,156},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>jsbing/zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,280},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>jsbing/zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,171},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>jsbing/zuoshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,171},{17,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,34}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>jsbing/zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,291},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>jsbing/zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,292},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>jsbing_1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,233},{67,37}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{67,37}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>jsbing_1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{63,59}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{63,59}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>jsbing_1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,81},{73,89}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{73,89}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>jsbing_1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{77,111}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{77,111}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>jsbing_1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{61,89}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{61,89}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>jsbing_1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,255},{35,47}}</string>
                <key>offset</key>
                <string>{28,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,68},{35,47}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>jsbing_2/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{213,54}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{213,54}}</string>
                <key>sourceSize</key>
                <string>{227,54}</string>
            </dict>
            <key>jsbing_2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{199,20}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{199,20}}</string>
                <key>sourceSize</key>
                <string>{227,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jsbing0.pvr.ccz</string>
            <key>size</key>
            <string>{250,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5c781173a54d40286f56f547d47258$</string>
            <key>textureFileName</key>
            <string>jsbing0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
