<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kjbing/shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,178},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>kjbing/tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,180},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>kjbing/wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{95,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,85}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>kjbing/wuqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,143},{148,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,136}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>kjbing/yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,143},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>kjbing/youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,178},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>kjbing/youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,255},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>kjbing/youshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,243},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>kjbing/youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,255},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>kjbing/zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,243},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>kjbing/zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,255},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>kjbing/zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,227},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>kjbing/zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,203},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>kjbing_1/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{157,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,174}}</string>
                <key>sourceSize</key>
                <string>{157,174}</string>
            </dict>
            <key>kjbing_1/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,176}}</string>
                <key>sourceSize</key>
                <string>{142,176}</string>
            </dict>
            <key>kjbing_1/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{139,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,172}}</string>
                <key>sourceSize</key>
                <string>{139,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kjbing0.pvr.ccz</string>
            <key>size</key>
            <string>{489,283}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1eded7766b1da5d434f0bc3fb98f5a4$</string>
            <key>textureFileName</key>
            <string>kjbing0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
