*.info
*.bin
*.log
*.bak
*.apk
Library/metadata/00/00000000000000001000000000000000
Library/metadata/00/00000000000000003000000000000000
/ProjectSettings/*
/Library/*
/obj/*
/.vs/*
/Classes_v1.4/*
/cocos2d/*
/coolpay_res/*
/GuopanDemo/*
/m4399RechargeSDK/*
/nubia_game_sdk/*
/PengyouwanSDK_Release/*
/PengyouwanSDKDemo/*
/pro.android_xiaomi/*
/proj.android/*
/proj.android_360_reg/*
/proj.android_coolpad/*
/proj.android_guopan/*
/proj.android_jinli/*
/proj.android_nubiya/*
/proj.android_pengyouwan/*
/proj.android_uc/*
/proj.android_uucun/*
/proj.android_ydjd/*
/proj.android-studio/*
/proj.ios_mac/*
/proj.linux/*
/proj.win8.1-universal/*
/Pushlib_ch4399/*
/Pushlib_coolpad/*
/Pushlib_guopan/*
/Pushlib_jinli/*
/Pushlib_nubia/*
/Pushlib_pengyouwan/*
/Pushlib_uc/*
/Pushlib_xiaomi/*
/Resources_nor/*
/Resources_o/*
/Resources_pvr/*
/Resources_v1.4/*
/ugpsdk-integration/*
/UUPassport_SDK_library/*
/uupassport_test_jar/*
/zhou/*
/Classes_other/*
/proj.win32/*
/proj.win10/*
Resources/storeassets/store2.json
Resources/storeassets/store2.b