<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,402},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{81,119}</string>
            </dict>
            <key>baoxiang_01/baoxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,360},{165,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,82}}</string>
                <key>sourceSize</key>
                <string>{165,82}</string>
            </dict>
            <key>baoxiang_01/baoxiang_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,360},{162,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,110}}</string>
                <key>sourceSize</key>
                <string>{162,110}</string>
            </dict>
            <key>baoxiang_01/baoxiang_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,204},{199,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,172}}</string>
                <key>sourceSize</key>
                <string>{199,172}</string>
            </dict>
            <key>baoxiang_01/boxlayer_liefeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{199,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,81}}</string>
                <key>sourceSize</key>
                <string>{199,81}</string>
            </dict>
            <key>baoxiang_01/xingxing_box/xingxing_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,360},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>baoxiang_02/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{200,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,172}}</string>
                <key>sourceSize</key>
                <string>{200,172}</string>
            </dict>
            <key>baoxiang_02/baoxiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,408},{156,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,87}}</string>
                <key>sourceSize</key>
                <string>{156,87}</string>
            </dict>
            <key>baoxiang_02/baoxiang_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{162,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,104}</string>
            </dict>
            <key>baoxiang_03/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,172}}</string>
                <key>sourceSize</key>
                <string>{200,172}</string>
            </dict>
            <key>baoxiang_03/baoxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{179,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,100}}</string>
                <key>sourceSize</key>
                <string>{179,100}</string>
            </dict>
            <key>baoxiang_03/baoxiang_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,213},{162,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,102}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>baoxiang_04/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,172}}</string>
                <key>sourceSize</key>
                <string>{200,172}</string>
            </dict>
            <key>baoxiang_04/baoxiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,317},{159,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,89}}</string>
                <key>sourceSize</key>
                <string>{159,89}</string>
            </dict>
            <key>baoxiang_04/baoxiang_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,108},{162,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,103}}</string>
                <key>sourceSize</key>
                <string>{162,103}</string>
            </dict>
            <key>baoxiang_05/b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,405},{197,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,126}}</string>
                <key>sourceSize</key>
                <string>{197,126}</string>
            </dict>
            <key>baoxiang_05/lv_bo22.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,408},{119,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,65}}</string>
                <key>sourceSize</key>
                <string>{119,65}</string>
            </dict>
            <key>baoxiang_05/lv_bo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,179},{172,175}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{172,175}}</string>
                <key>sourceSize</key>
                <string>{212,195}</string>
            </dict>
            <key>baoxiang_06/b_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{196,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,125}}</string>
                <key>sourceSize</key>
                <string>{196,125}</string>
            </dict>
            <key>baoxiang_06/h_bo21.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{172,175}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{172,175}}</string>
                <key>sourceSize</key>
                <string>{212,195}</string>
            </dict>
            <key>baoxiang_06/h_bo22.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,408},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,66}}</string>
                <key>sourceSize</key>
                <string>{119,66}</string>
            </dict>
            <key>baoxiang_07/b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,203},{197,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,124}}</string>
                <key>sourceSize</key>
                <string>{197,124}</string>
            </dict>
            <key>baoxiang_07/reward_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,183},{172,175}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{172,175}}</string>
                <key>sourceSize</key>
                <string>{212,195}</string>
            </dict>
            <key>baoxiang_07/zi_bo22.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,108},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,66}}</string>
                <key>sourceSize</key>
                <string>{119,66}</string>
            </dict>
            <key>daojukuang_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoxiang_kaiqi0.pvr.ccz</string>
            <key>size</key>
            <string>{999,533}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:170f22377d200df104cc4e35f40fea6b$</string>
            <key>textureFileName</key>
            <string>baoxiang_kaiqi0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
