<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bagua_btn_jh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,368},{182,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{182,56}}</string>
                <key>sourceSize</key>
                <string>{194,60}</string>
            </dict>
            <key>bagua_btn_jh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,358},{182,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{182,56}}</string>
                <key>sourceSize</key>
                <string>{194,60}</string>
            </dict>
            <key>bagua_btn_jh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,657},{182,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{182,56}}</string>
                <key>sourceSize</key>
                <string>{194,60}</string>
            </dict>
            <key>bagua_btn_ljjh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,657},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{182,64}}</string>
                <key>sourceSize</key>
                <string>{194,66}</string>
            </dict>
            <key>bagua_btn_ljjh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,186},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{182,64}}</string>
                <key>sourceSize</key>
                <string>{194,66}</string>
            </dict>
            <key>bagua_btn_ljjh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{182,64}}</string>
                <key>sourceSize</key>
                <string>{194,66}</string>
            </dict>
            <key>bagua_des.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{547,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,297}}</string>
                <key>sourceSize</key>
                <string>{547,297}</string>
            </dict>
            <key>bagua_text_bgl.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,697},{91,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,34}}</string>
                <key>sourceSize</key>
                <string>{91,34}</string>
            </dict>
            <key>bagua_text_jh.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,370},{159,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,37}}</string>
                <key>sourceSize</key>
                <string>{159,37}</string>
            </dict>
            <key>baguan_btn_all_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,846},{143,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{143,51}}</string>
                <key>sourceSize</key>
                <string>{155,55}</string>
            </dict>
            <key>baguan_btn_all_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,701},{143,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{143,51}}</string>
                <key>sourceSize</key>
                <string>{155,55}</string>
            </dict>
            <key>baguan_btn_all_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,846},{143,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{143,51}}</string>
                <key>sourceSize</key>
                <string>{155,55}</string>
            </dict>
            <key>baguan_btn_allin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,701},{143,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{143,51}}</string>
                <key>sourceSize</key>
                <string>{155,55}</string>
            </dict>
            <key>baguan_btn_allin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,556},{143,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{143,51}}</string>
                <key>sourceSize</key>
                <string>{155,55}</string>
            </dict>
            <key>baguan_btn_allin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,552},{143,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{143,51}}</string>
                <key>sourceSize</key>
                <string>{155,55}</string>
            </dict>
            <key>baguan_btn_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,542},{47,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,96}}</string>
                <key>sourceSize</key>
                <string>{47,96}</string>
            </dict>
            <key>baguan_btn_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,841},{181,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,55}}</string>
                <key>sourceSize</key>
                <string>{181,55}</string>
            </dict>
            <key>baguan_btn_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,841},{181,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,55}}</string>
                <key>sourceSize</key>
                <string>{181,55}</string>
            </dict>
            <key>baguan_btn_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,841},{181,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,55}}</string>
                <key>sourceSize</key>
                <string>{181,55}</string>
            </dict>
            <key>baguan_goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,370},{184,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,37}}</string>
                <key>sourceSize</key>
                <string>{184,37}</string>
            </dict>
            <key>baguan_icon_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,790},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>baguan_lvbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{364,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,45}}</string>
                <key>sourceSize</key>
                <string>{364,45}</string>
            </dict>
            <key>baguan_mainbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,354}}</string>
                <key>sourceSize</key>
                <string>{640,354}</string>
            </dict>
            <key>baguan_mainicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{470,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,344}}</string>
                <key>sourceSize</key>
                <string>{470,344}</string>
            </dict>
            <key>baguan_text_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,670},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>bgguan_text_sjrl.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,531},{137,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,29}}</string>
                <key>sourceSize</key>
                <string>{137,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bglui.pvr.ccz</string>
            <key>size</key>
            <string>{757,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fbc4c81bde56520b06c7f6dee4850b2$</string>
            <key>textureFileName</key>
            <string>bglui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
