<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exp_potion.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,74},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>putong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{46,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,67}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>putong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,67}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>qiangli0.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,70},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,66}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>qiangli1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,66}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>qiangli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,71},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,66}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>shenqi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>shenqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,74},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>shenqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,74},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>shizi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,75},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{60,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,72},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comitems.pvr.ccz</string>
            <key>size</key>
            <string>{512,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa61e5a4ffca1fb2e2c09ea78ca806bd$</string>
            <key>textureFileName</key>
            <string>comitems.pvr.ccz</string>
        </dict>
    </dict>
</plist>
