<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_icon_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,10},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>bar_icon_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,106},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,38}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>bar_icon_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,121},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{40,22}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>combo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,10},{225,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,111}}</string>
                <key>sourceSize</key>
                <string>{225,111}</string>
            </dict>
            <key>crit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,165},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,27}}</string>
                <key>sourceSize</key>
                <string>{75,27}</string>
            </dict>
            <key>crit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,145},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,27}}</string>
                <key>sourceSize</key>
                <string>{75,27}</string>
            </dict>
            <key>crit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,116},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,27}}</string>
                <key>sourceSize</key>
                <string>{75,27}</string>
            </dict>
            <key>crush_boundary.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{640,6}}</string>
                <key>sourceSize</key>
                <string>{640,16}</string>
            </dict>
            <key>def_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,114},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,21}}</string>
                <key>sourceSize</key>
                <string>{54,21}</string>
            </dict>
            <key>def_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,91},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,21}}</string>
                <key>sourceSize</key>
                <string>{54,21}</string>
            </dict>
            <key>def_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,64},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,21}}</string>
                <key>sourceSize</key>
                <string>{54,21}</string>
            </dict>
            <key>def_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,64},{70,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,21}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>def_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,87},{98,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{98,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>drop_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,51},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drop_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,106},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drop_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,63},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{36,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fight_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,10},{154,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{154,22}}</string>
                <key>sourceSize</key>
                <string>{162,28}</string>
            </dict>
            <key>fight_bar_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,146},{146,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,16}}</string>
                <key>sourceSize</key>
                <string>{146,16}</string>
            </dict>
            <key>fight_bar_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,180},{146,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,16}}</string>
                <key>sourceSize</key>
                <string>{146,16}</string>
            </dict>
            <key>fight_item_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,34},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>fight_stage_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,62},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,42}}</string>
                <key>sourceSize</key>
                <string>{124,46}</string>
            </dict>
            <key>fight_stage_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,123},{52,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>fight_stage_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,34},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,28}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>monster_hp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{60,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,6}}</string>
                <key>sourceSize</key>
                <string>{64,10}</string>
            </dict>
            <key>monster_hp_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,187},{70,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{70,12}}</string>
                <key>sourceSize</key>
                <string>{76,16}</string>
            </dict>
            <key>swap_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>tag_att_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,10},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>tag_col.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,123},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>tag_confuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,10},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,164},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tag_def_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,89},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>tag_fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,114},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,62},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,164},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>tag_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,10},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_relive.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,164},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tag_round_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,164},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>tag_round_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,166},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>tag_round_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,166},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>tag_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,114},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,62},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_stay.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,10},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_thunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,123},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>tag_warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,106},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>tip_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,137},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightUi.pvr.ccz</string>
            <key>size</key>
            <string>{644,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fecbedd99a1fc6c28884115fc866de09$</string>
            <key>textureFileName</key>
            <string>fightUi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
