<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,344},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>guide_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,277}}</string>
                <key>sourceSize</key>
                <string>{265,277}</string>
            </dict>
            <key>guide_role_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{163,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,86}}</string>
                <key>sourceSize</key>
                <string>{163,86}</string>
            </dict>
            <key>guide_stencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guideUi.pvr.ccz</string>
            <key>size</key>
            <string>{269,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb1e23759528a4edac803ccdd4637f37$</string>
            <key>textureFileName</key>
            <string>guideUi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
