<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,94},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>pause_contitue.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,94},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>pause_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{640,190}}</string>
                <key>sourceSize</key>
                <string>{640,196}</string>
            </dict>
            <key>pause_music_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>pause_music_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>pause_sound_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,94},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>pause_sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>pause_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{640,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{640,52}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>pause_text_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,186},{72,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseui.pvr.ccz</string>
            <key>size</key>
            <string>{914,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b57162b07f8b59d1f50cb19360515703$</string>
            <key>textureFileName</key>
            <string>pauseui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
