<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,46}}</string>
                <key>sourceSize</key>
                <string>{331,46}</string>
            </dict>
            <key>start_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,236},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{84,86}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>start_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,146},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>start_mainbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{261,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,74}}</string>
                <key>sourceSize</key>
                <string>{261,74}</string>
            </dict>
            <key>start_text_jryx.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{142,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,38}}</string>
                <key>sourceSize</key>
                <string>{142,38}</string>
            </dict>
            <key>text_bzzx.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{137,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,38}}</string>
                <key>sourceSize</key>
                <string>{137,38}</string>
            </dict>
            <key>text_jnsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,265},{98,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{98,25}}</string>
                <key>sourceSize</key>
                <string>{108,35}</string>
            </dict>
            <key>text_jsjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,146},{100,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{100,27}}</string>
                <key>sourceSize</key>
                <string>{108,35}</string>
            </dict>
            <key>text_xcgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{98,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{98,25}}</string>
                <key>sourceSize</key>
                <string>{108,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startui.pvr.ccz</string>
            <key>size</key>
            <string>{243,335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd9f3436f1e4c7d189389d3ea07863fd$</string>
            <key>textureFileName</key>
            <string>startui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
