<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>announcement.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,42},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,37}</string>
            </dict>
            <key>story_sub_title_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{150,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{150,26}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>story_sub_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{150,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{150,26}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>story_sub_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{150,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{150,26}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>story_sub_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{148,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{148,26}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>story_sub_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{150,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{150,26}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>story_sub_title_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{150,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{150,26}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>story_sub_title_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{150,26}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>story_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>storyui.pvr.ccz</string>
            <key>size</key>
            <string>{254,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a677bfa8e5235d98b021a38084a4e998$</string>
            <key>textureFileName</key>
            <string>storyui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
