<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wup_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,182},{94,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,18}}</string>
                <key>sourceSize</key>
                <string>{94,18}</string>
            </dict>
            <key>wup_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,234},{94,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,18}}</string>
                <key>sourceSize</key>
                <string>{94,18}</string>
            </dict>
            <key>wup_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{94,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,18}}</string>
                <key>sourceSize</key>
                <string>{94,18}</string>
            </dict>
            <key>wup_btn_sj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{231,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,64}}</string>
                <key>sourceSize</key>
                <string>{231,64}</string>
            </dict>
            <key>wup_btn_sj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{231,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,64}}</string>
                <key>sourceSize</key>
                <string>{231,64}</string>
            </dict>
            <key>wup_btn_sj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{231,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,64}}</string>
                <key>sourceSize</key>
                <string>{231,64}</string>
            </dict>
            <key>wup_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,153},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>wup_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,103},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>wup_icon_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,203},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>wup_icon_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,6},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>wup_itembg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wup_itembg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,6},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wup_itembg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,136},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wup_itembg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,136},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wup_jiantou_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,203},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>wup_jiantou_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,153},{42,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,53}}</string>
                <key>sourceSize</key>
                <string>{42,53}</string>
            </dict>
            <key>wup_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,2}}</string>
                <key>sourceSize</key>
                <string>{452,2}</string>
            </dict>
            <key>wup_text_cgl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{103,28}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>wup_text_dj.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,152},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{99,28}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>wup_text_fyhf.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,122},{99,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{99,28}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>wup_text_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{99,28}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>wup_text_hc.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,204},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>wup_text_hf.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,208},{46,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,21}}</string>
                <key>sourceSize</key>
                <string>{46,21}</string>
            </dict>
            <key>wup_text_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,238},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>wup_text_sf.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,204},{99,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{99,28}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>wup_text_sj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,208},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>wup_text_sj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,202},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{74,34}}</string>
                <key>sourceSize</key>
                <string>{90,42}</string>
            </dict>
            <key>wup_text_xlhf.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{99,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{99,28}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wupui.pvr.ccz</string>
            <key>size</key>
            <string>{675,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03a1cbfeb8ec87729636572e3a04b317$</string>
            <key>textureFileName</key>
            <string>wupui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
