<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cbd_sd/cbd_sd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>cbd_sd/cbd_sd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,62}}</string>
                <key>sourceSize</key>
                <string>{95,62}</string>
            </dict>
            <key>cbd_sd/cbd_sd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{99,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,70}}</string>
                <key>sourceSize</key>
                <string>{99,70}</string>
            </dict>
            <key>cbd_sd/cbd_sd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,74},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>cbd_sd/cbd_sd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,157},{87,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,101}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>cbd_sd/cbd_sd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{83,102}</string>
            </dict>
            <key>cbd_sd/cbd_sd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,74},{81,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,98}}</string>
                <key>sourceSize</key>
                <string>{83,98}</string>
            </dict>
            <key>cbd_sd/cbd_sd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{77,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,98}}</string>
                <key>sourceSize</key>
                <string>{81,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_320.pvr.ccz</string>
            <key>size</key>
            <string>{303,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cc6171b6e85925b6bf72fbc5a8ca7be$</string>
            <key>textureFileName</key>
            <string>skill_320.pvr.ccz</string>
        </dict>
    </dict>
</plist>
