<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huo_d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>huo_d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,107},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill_0/skill_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,131},{91,64}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,60},{91,64}}</string>
                <key>sourceSize</key>
                <string>{101,128}</string>
            </dict>
            <key>skill_0/skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>skill_0/skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{107,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,127}}</string>
                <key>sourceSize</key>
                <string>{107,127}</string>
            </dict>
            <key>skill_0/skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{101,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,123}}</string>
                <key>sourceSize</key>
                <string>{101,123}</string>
            </dict>
            <key>skill_0/skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,131},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>skill_0/skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{103,126}}</string>
                <key>offset</key>
                <string>{6,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{103,126}}</string>
                <key>sourceSize</key>
                <string>{149,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_00.pvr.ccz</string>
            <key>size</key>
            <string>{507,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2712f350fd67eb5e2d3b6f329d338e98$</string>
            <key>textureFileName</key>
            <string>skill_00.pvr.ccz</string>
        </dict>
    </dict>
</plist>
