<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>migu_btn_supergift.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,610},{111,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,84}}</string>
                <key>sourceSize</key>
                <string>{113,86}</string>
            </dict>
            <key>migu_icon_random.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,646},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>migu_text_16y.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,508},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>migu_text_1y.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,694},{45,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>migu_text_8y.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,637},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>migu_text_cjjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,568},{124,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,41}}</string>
                <key>sourceSize</key>
                <string>{124,41}</string>
            </dict>
            <key>migu_text_cjjnlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,394},{172,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,41}}</string>
                <key>sourceSize</key>
                <string>{172,41}</string>
            </dict>
            <key>migu_text_jx.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,698},{43,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,24}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>migu_text_jxyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,574},{70,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>migu_text_pricedes.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,214},{178,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,96}}</string>
                <key>sourceSize</key>
                <string>{178,96}</string>
            </dict>
            <key>migu_text_randomgetdess.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,394},{241,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,23}}</string>
                <key>sourceSize</key>
                <string>{241,23}</string>
            </dict>
            <key>migu_text_rankreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{545,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,298}}</string>
                <key>sourceSize</key>
                <string>{545,298}</string>
            </dict>
            <key>migu_text_supergift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{298,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,160}}</string>
                <key>sourceSize</key>
                <string>{298,160}</string>
            </dict>
            <key>migu_text_superskilldes.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{210,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,105}}</string>
                <key>sourceSize</key>
                <string>{210,105}</string>
            </dict>
            <key>migu_text_time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,711},{29,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>migu_text_time2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,711},{29,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>migu_text_time3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,711},{29,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>migu_text_timefree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{70,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,17}}</string>
                <key>sourceSize</key>
                <string>{70,17}</string>
            </dict>
            <key>migu_text_wpgift_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,306},{302,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,96}}</string>
                <key>sourceSize</key>
                <string>{302,96}</string>
            </dict>
            <key>migu_text_wpgift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{302,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,96}}</string>
                <key>sourceSize</key>
                <string>{302,96}</string>
            </dict>
            <key>migu_text_yslb.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,394},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>miguui.pvr.ccz</string>
            <key>size</key>
            <string>{509,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:426399b7162d3bab59f361a6b9bcd0fa$</string>
            <key>textureFileName</key>
            <string>miguui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
