<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nzg/nzg_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,672},{139,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,105}}</string>
                <key>sourceSize</key>
                <string>{139,105}</string>
            </dict>
            <key>nzg/nzg_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,779},{126,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,147}}</string>
                <key>sourceSize</key>
                <string>{126,147}</string>
            </dict>
            <key>nzg/nzg_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,781},{187,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,123}}</string>
                <key>sourceSize</key>
                <string>{187,123}</string>
            </dict>
            <key>nzg/nzg_xiabai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,965},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>nzg/nzg_xiabai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,897},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>nzg/nzg_xiabai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,738},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>nzg/nzg_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,834},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>nzg/nzg_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,744},{128,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,151}}</string>
                <key>sourceSize</key>
                <string>{128,151}</string>
            </dict>
            <key>nzg/nzg_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,907},{46,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,77}}</string>
                <key>sourceSize</key>
                <string>{46,77}</string>
            </dict>
            <key>nzg/nzg_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,118},{52,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,92}}</string>
                <key>sourceSize</key>
                <string>{52,92}</string>
            </dict>
            <key>nzg/nzg_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,883},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>nzg/nzg_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,897},{61,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,76}}</string>
                <key>sourceSize</key>
                <string>{61,76}</string>
            </dict>
            <key>nzg/nzg_zuojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,907},{77,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,117}}</string>
                <key>sourceSize</key>
                <string>{77,117}</string>
            </dict>
            <key>nzg/nzg_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,911},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>nzg/nzg_zuojiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,944},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>nzg/nzg_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,967},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>nzg/nzg_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,822},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>nzg_01/p_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,218},{108,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,122}}</string>
                <key>sourceSize</key>
                <string>{108,122}</string>
            </dict>
            <key>nzg_01/p_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>nzg_01/p_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,342},{116,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,123}}</string>
                <key>sourceSize</key>
                <string>{116,123}</string>
            </dict>
            <key>nzg_01/p_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,906},{114,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,110}}</string>
                <key>sourceSize</key>
                <string>{114,110}</string>
            </dict>
            <key>nzg_01/p_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,906},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,95}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>nzg_0186/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,520},{259,180}}</string>
                <key>offset</key>
                <string>{94,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,19},{259,180}}</string>
                <key>sourceSize</key>
                <string>{551,202}</string>
            </dict>
            <key>nzg_0186/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{305,194}}</string>
                <key>offset</key>
                <string>{123,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,8},{305,194}}</string>
                <key>sourceSize</key>
                <string>{551,202}</string>
            </dict>
            <key>nzg_0186/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{395,162}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,9},{395,162}}</string>
                <key>sourceSize</key>
                <string>{551,202}</string>
            </dict>
            <key>nzg_0186/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,156}}</string>
                <key>offset</key>
                <string>{-28,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{423,156}}</string>
                <key>sourceSize</key>
                <string>{551,202}</string>
            </dict>
            <key>nzg_0186/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{363,134}}</string>
                <key>offset</key>
                <string>{-78,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{363,134}}</string>
                <key>sourceSize</key>
                <string>{551,202}</string>
            </dict>
            <key>nzg_0186/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{311,114}}</string>
                <key>offset</key>
                <string>{-113,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{311,114}}</string>
                <key>sourceSize</key>
                <string>{551,202}</string>
            </dict>
            <key>nzg_0186/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,118},{291,98}}</string>
                <key>offset</key>
                <string>{-127,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,54},{291,98}}</string>
                <key>sourceSize</key>
                <string>{551,202}</string>
            </dict>
            <key>nzg_0186/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,218},{263,94}}</string>
                <key>offset</key>
                <string>{-143,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,57},{263,94}}</string>
                <key>sourceSize</key>
                <string>{551,202}</string>
            </dict>
            <key>nzg_0186/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,670},{143,72}}</string>
                <key>offset</key>
                <string>{-204,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{143,72}}</string>
                <key>sourceSize</key>
                <string>{551,202}</string>
            </dict>
            <key>nzg_p1/dog02_d201.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,738},{80,94}}</string>
                <key>offset</key>
                <string>{-59,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,94}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nzg_p1/dog02_d202.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,460},{118,138}}</string>
                <key>offset</key>
                <string>{-26,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{118,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nzg_p1/dog02_d203.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,324},{156,182}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{156,182}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nzg_p1/dog02_d205.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,314},{180,214}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{180,214}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nzg_p1/dog02_d207.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,508},{162,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,55},{162,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nzg_p1/dog02_d208.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,530},{146,138}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,56},{146,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nzg_p1/dog02_d209.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,600},{148,136}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,58},{148,136}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nianzg0.pvr.ccz</string>
            <key>size</key>
            <string>{774,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85b860107eba535609c7511bfad06ede$</string>
            <key>textureFileName</key>
            <string>nianzg0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
