<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lsj_d_02/lsj_d2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{49,15}}</string>
                <key>offset</key>
                <string>{11,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,175},{49,15}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>lsj_d_02/lsj_d2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,195},{57,27}}</string>
                <key>offset</key>
                <string>{12,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,164},{57,27}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>lsj_d_02/lsj_d2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{79,59}}</string>
                <key>offset</key>
                <string>{20,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,132},{79,59}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>lsj_d_02/lsj_d2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{115,169}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{115,169}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>lsj_d_02/lsj_d2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{131,167}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{131,167}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>lsj_d_02/lsj_d2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{129,181}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{129,181}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>lsj_d_02/lsj_d2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,191}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{123,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>lsj_d_02/lsj_d2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,173},{103,187}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{103,187}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>lsj_d_02/lsj_d2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,185},{93,185}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{93,185}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_10.pvr.ccz</string>
            <key>size</key>
            <string>{508,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfb620f160108daf7c4e863f8b828ffc$</string>
            <key>textureFileName</key>
            <string>skill_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
