<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baiguang_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,408},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>hg_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>yunshishu/a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,456},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>yunshishu/a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,456},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>yunshishu/a03.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,76},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>yunshishu/a04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,391},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>yunshishu/a05.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,446},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>yunshishu/a06.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,391},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>yunshishu/a07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>yunshishu/a08.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,133},{155,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,119}}</string>
                <key>sourceSize</key>
                <string>{155,119}</string>
            </dict>
            <key>yunshishu/a09.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,254},{135,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,144}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>yunshishu/a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{130,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,161}}</string>
                <key>sourceSize</key>
                <string>{130,161}</string>
            </dict>
            <key>yunshishu/a11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{111,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,161}}</string>
                <key>sourceSize</key>
                <string>{111,161}</string>
            </dict>
            <key>yunshishu/a12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{85,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,139}}</string>
                <key>sourceSize</key>
                <string>{85,139}</string>
            </dict>
            <key>yunshishu/a14.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{129,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,113}}</string>
                <key>sourceSize</key>
                <string>{129,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_210.pvr.ccz</string>
            <key>size</key>
            <string>{324,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a685564047e9f33fa9a2c109faf45ac$</string>
            <key>textureFileName</key>
            <string>skill_210.pvr.ccz</string>
        </dict>
    </dict>
</plist>
