<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_skill_9/m_skill_9_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,248},{106,140}}</string>
                <key>offset</key>
                <string>{-4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,118},{106,140}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>m_skill_9/m_skill_9_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,246},{132,172}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,86},{132,172}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>m_skill_9/m_skill_9_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,246}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{150,246}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>m_skill_9/m_skill_9_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{172,242}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{172,242}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>m_skill_9/m_skill_9_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{158,244}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{158,244}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
            <key>m_skill_9/m_skill_9_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{154,226}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{154,226}}</string>
                <key>sourceSize</key>
                <string>{188,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_skill_90.pvr.ccz</string>
            <key>size</key>
            <string>{512,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:101ee0c261379dc1f64c41a50ebe4555$</string>
            <key>textureFileName</key>
            <string>m_skill_90.pvr.ccz</string>
        </dict>
    </dict>
</plist>
