<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sqy_jinghua01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>sqy_jinghua02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,244},{116,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>sqy_jinghua02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>sqy_jinghua03.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>sqy_jinghua031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>sqyzengfu_d02/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{1,1}}</string>
                <key>offset</key>
                <string>{-41,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,57},{1,1}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>sqyzengfu_d02/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,365},{37,37}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{37,37}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>sqyzengfu_d02/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,433},{55,55}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{55,55}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>sqyzengfu_d02/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,273},{97,97}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{97,97}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>sqyzengfu_d02/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,372},{113,109}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{113,109}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>sqyzengfu_d02/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,129},{119,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{119,113}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>sqyzengfu_d02/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,361},{111,117}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,117}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>sqyzengfu_d02/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{119,119}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{119,119}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>sqyzengfu_d02/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,162},{105,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{105,109}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>sqyzengfu_d02/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{117,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{117,113}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>yaoshi_baoxiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{66,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>yaoshi_bz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,94},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{66,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zengfu_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{75,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,90}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_skill_effect0.pvr.ccz</string>
            <key>size</key>
            <string>{351,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d212628e4315e9315c2970891862a29$</string>
            <key>textureFileName</key>
            <string>icon_skill_effect0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
