<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_skill_2_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{282,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,103}}</string>
                <key>sourceSize</key>
                <string>{282,103}</string>
            </dict>
            <key>m_skill_2_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,161}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_skill_20.pvr.ccz</string>
            <key>size</key>
            <string>{449,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d9e6b2ff7b49ed68241f2733d885af5$</string>
            <key>textureFileName</key>
            <string>m_skill_20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
