<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingji_s1/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,356},{122,88}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{122,88}}</string>
                <key>sourceSize</key>
                <string>{146,102}</string>
            </dict>
            <key>jingji_s1/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,356},{136,76}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,76}}</string>
                <key>sourceSize</key>
                <string>{146,102}</string>
            </dict>
            <key>jingji_s1/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{144,70}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,31},{144,70}}</string>
                <key>sourceSize</key>
                <string>{146,102}</string>
            </dict>
            <key>jingji_s1/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,331},{146,60}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,102}</string>
            </dict>
            <key>jingji_s1/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,148},{146,64}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,102}</string>
            </dict>
            <key>jingji_s1/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,183},{146,60}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,102}</string>
            </dict>
            <key>jingji_s5/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,183},{114,171}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{114,171}}</string>
                <key>sourceSize</key>
                <string>{144,183}</string>
            </dict>
            <key>jingji_s5/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{144,177}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{144,177}}</string>
                <key>sourceSize</key>
                <string>{144,183}</string>
            </dict>
            <key>jingji_s5/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,183}}</string>
                <key>sourceSize</key>
                <string>{144,183}</string>
            </dict>
            <key>jingji_s5/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{142,179}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{142,179}}</string>
                <key>sourceSize</key>
                <string>{144,183}</string>
            </dict>
            <key>jingji_s5/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{128,149}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,33},{128,149}}</string>
                <key>sourceSize</key>
                <string>{144,183}</string>
            </dict>
            <key>jingji_s5/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{104,27}}</string>
                <key>offset</key>
                <string>{7,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,154},{104,27}}</string>
                <key>sourceSize</key>
                <string>{144,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_skill_190.pvr.ccz</string>
            <key>size</key>
            <string>{396,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:674c46351120fab0474e195993fb80ac$</string>
            <key>textureFileName</key>
            <string>m_skill_190.pvr.ccz</string>
        </dict>
    </dict>
</plist>
