<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lqc_01/lqc_houbai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>lqc_01/lqc_ku_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,60},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>lqc_01/lqc_liuhai1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>lqc_01/lqc_liuhai2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,76},{20,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,47}}</string>
                <key>sourceSize</key>
                <string>{20,47}</string>
            </dict>
            <key>lqc_01/lqc_shenti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,83},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>lqc_01/lqc_tou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>lqc_01/lqc_toufa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{43,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>lqc_01/lqc_touying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,41}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>lqc_01/lqc_wuqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,64},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>lqc_01/lqc_youjiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,96},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>lqc_01/lqc_youqun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>lqc_01/lqc_youshangbi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,65},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>lqc_01/lqc_youshou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,64},{11,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,28}}</string>
                <key>sourceSize</key>
                <string>{11,28}</string>
            </dict>
            <key>lqc_01/lqc_youtui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,75},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>lqc_01/lqc_zhongqun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,50},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>lqc_01/lqc_zhuzhang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{149,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,46}}</string>
                <key>sourceSize</key>
                <string>{149,46}</string>
            </dict>
            <key>lqc_01/lqc_zuobi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,20},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>lqc_01/lqc_zuojiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,60},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>lqc_01/lqc_zuoqun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,74},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>lqc_01/lqc_zuoshou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,96},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>lqc_01/lqc_zuotui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,34},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>lqc_bing1/lqc_bing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,43},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>lqc_huo1_01/lqc_huo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,43},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lqc0.pvr.ccz</string>
            <key>size</key>
            <string>{250,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a14c52b3ef34fd476e5053b30fc24dc5$</string>
            <key>textureFileName</key>
            <string>lqc0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
