<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang_1/baoxiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>baoxiang_b/zi_bo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,612},{119,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,100}}</string>
                <key>sourceSize</key>
                <string>{119,100}</string>
            </dict>
            <key>baoxiang_b/zi_bo2z.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,396},{119,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,100}}</string>
                <key>sourceSize</key>
                <string>{119,100}</string>
            </dict>
            <key>baoxiang_d1/orcEmirates_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{98,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,5},{98,155}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>baoxiang_d1/orcEmirates_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{98,135}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,12},{98,135}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>baoxiang_d1/orcEmirates_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,274},{120,95}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{120,95}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>baoxiang_d1/orcEmirates_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{150,117}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{150,117}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>baoxiang_d1/orcEmirates_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{182,133}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{182,133}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>baoxiang_d1/orcEmirates_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,135}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{204,135}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>baoxiang_z/xiangzi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,517},{112,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,93}}</string>
                <key>sourceSize</key>
                <string>{112,93}</string>
            </dict>
            <key>baoxiang_z/xiangzi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{120,82}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,79},{120,82}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoxiangguai_z0.pvr.ccz</string>
            <key>size</key>
            <string>{256,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82468232e9cbe8b4c51c798bc6f6c31$</string>
            <key>textureFileName</key>
            <string>baoxiangguai_z0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
