<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_p/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{76,126}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,126}}</string>
                <key>sourceSize</key>
                <string>{80,128}</string>
            </dict>
            <key>skill_p/65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,64}}</string>
                <key>sourceSize</key>
                <string>{205,64}</string>
            </dict>
            <key>skill_p/bz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,162},{33,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,108}}</string>
                <key>sourceSize</key>
                <string>{33,108}</string>
            </dict>
            <key>skill_p/daocaoren_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,68},{102,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,92}}</string>
                <key>sourceSize</key>
                <string>{104,92}</string>
            </dict>
            <key>skill_p/effect_001_shui.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,68},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>skill_p1/bing_0d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_230.pvr.ccz</string>
            <key>size</key>
            <string>{254,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e9e08a7dedf5018b2f2baf6e319c0c$</string>
            <key>textureFileName</key>
            <string>skill_230.pvr.ccz</string>
        </dict>
    </dict>
</plist>
