<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nubing/kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,155},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>nubing/shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,139},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>nubing/tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{82,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{82,95}</string>
            </dict>
            <key>nubing/wuqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,129},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>nubing/wuqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,75},{106,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,15}}</string>
                <key>sourceSize</key>
                <string>{106,15}</string>
            </dict>
            <key>nubing/wuqi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,108},{19,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,123}}</string>
                <key>sourceSize</key>
                <string>{19,123}</string>
            </dict>
            <key>nubing/wuqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,142},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>nubing/youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,155},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>nubing/youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,129},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>nubing/youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,152},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>nubing/youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,92},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>nubing/zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,119},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>nubing/zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,142},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>nubing/zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,165},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>nubing/zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,165},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>nubing_1/longwu_01_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,106},{61,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{61,76}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>nubing_1/longwu_01_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,106},{45,76}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{45,76}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>nubing_1/longwu_01_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,106},{63,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,15},{63,80}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>nubing_1/longwu_01_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{133,102}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{133,102}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>nubing_1/longwu_01_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,102}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>nubing_1/longwu_01_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{113,104}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{113,104}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>nubing_1/longwu_01_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{71,106}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,1},{71,106}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>nubing_1/longwu_01_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,92},{45,68}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,19},{45,68}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nubing0.pvr.ccz</string>
            <key>size</key>
            <string>{505,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e1fa35c93c4b241fec615ee98ba88e5$</string>
            <key>textureFileName</key>
            <string>nubing0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
