<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>slate_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>tubiao_d3/bd_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,94},{64,78}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{64,78}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>tubiao_d3/bdzx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,160},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{68,78}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>tubiao_d3/hfzx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,160},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,74}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>tubiao_d3/hsbf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,158},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tubiao_d3/huoshan_d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,149},{60,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>tubiao_d3/huoshan_d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,78},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>tubiao_d3/jinji_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,94},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tubiao_d3/jinji_d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>tubiao_d3/jj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>tubiao_d3/jj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>tubiao_d3/ldbj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>tubiao_d3/shzy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,79},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>yaoshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,160},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{66,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zadan_lizi/zadan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>zd_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,86},{64,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,70}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>special_icon0.pvr.ccz</string>
            <key>size</key>
            <string>{439,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46c1dd0e5d13ea92ca521fac42c6c1d8$</string>
            <key>textureFileName</key>
            <string>special_icon0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
