<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghostorc_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{160,242}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{160,242}}</string>
                <key>sourceSize</key>
                <string>{206,262}</string>
            </dict>
            <key>ghostorc_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{206,252}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{206,252}}</string>
                <key>sourceSize</key>
                <string>{206,262}</string>
            </dict>
            <key>ghostorc_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,262}}</string>
                <key>sourceSize</key>
                <string>{206,262}</string>
            </dict>
            <key>ghostorc_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{202,256}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{202,256}}</string>
                <key>sourceSize</key>
                <string>{206,262}</string>
            </dict>
            <key>ghostorc_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{182,212}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,49},{182,212}}</string>
                <key>sourceSize</key>
                <string>{206,262}</string>
            </dict>
            <key>ghostorc_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,390},{148,36}}</string>
                <key>offset</key>
                <string>{10,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,222},{148,36}}</string>
                <key>sourceSize</key>
                <string>{206,262}</string>
            </dict>
            <key>ghostorc_arm_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,164},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>ghostorc_arm_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,104},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>ghostorc_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,164},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ghostorc_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,402},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>ghostorc_d2/ghostorc_d201.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,370},{80,94}}</string>
                <key>offset</key>
                <string>{-59,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,94}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>ghostorc_d2/ghostorc_d202.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,164},{118,138}}</string>
                <key>offset</key>
                <string>{-26,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{118,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>ghostorc_d2/ghostorc_d203.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,206},{156,182}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{156,182}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>ghostorc_d2/ghostorc_d205.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,256},{180,214}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{180,214}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>ghostorc_d2/ghostorc_d207.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,206},{162,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,55},{162,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>ghostorc_d2/ghostorc_d208.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,164},{146,138}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,56},{146,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>ghostorc_d2/ghostorc_d209.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,304},{148,136}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,58},{148,136}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>ghostorc_foot_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,428},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>ghostorc_foot_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,104},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>ghostorc_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,104},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ghostorc_hand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,428},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>ghostorc_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,304},{110,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,131}}</string>
                <key>sourceSize</key>
                <string>{110,131}</string>
            </dict>
            <key>ghostorc_leg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,104},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>ghostorc_leg_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,138},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>ghostorc_lizi_001/ghostorc_lizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,370},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ghostorc_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ghostorc0.pvr.ccz</string>
            <key>size</key>
            <string>{1009,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b12dd5c84d1429d1bb73c1eddbdc7318$</string>
            <key>textureFileName</key>
            <string>ghostorc0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
