<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cbd/cbd_dun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,416},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>cbd/cbd_dun_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,817},{85,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,92}}</string>
                <key>sourceSize</key>
                <string>{85,92}</string>
            </dict>
            <key>cbd/cbd_jiao12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,954},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>cbd/cbd_jiao1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,892},{18,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>cbd/cbd_jiao2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,954},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>cbd/cbd_kua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,911},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>cbd/cbd_shangyi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,915},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>cbd/cbd_tou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,911},{62,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{62,81}</string>
            </dict>
            <key>cbd/cbd_toufa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>cbd/cbd_tui1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,923},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>cbd/cbd_tui2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,923},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>cbd/cbd_wuqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,416},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>cbd/cbd_youshangbi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,923},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>cbd/cbd_youshou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,929},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>cbd/cbd_youxbi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,923},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>cbd/cbd_zuobi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,915},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>cbd/cbd_zuoshou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,929},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>cbd_d/cbd_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,230}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>cbd_d/cbd_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{235,190}}</string>
                <key>offset</key>
                <string>{51,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,38},{235,190}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>cbd_d/cbd_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,435},{169,158}}</string>
                <key>offset</key>
                <string>{62,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,59},{169,158}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>cbd_d/cbd_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,795},{109,118}}</string>
                <key>offset</key>
                <string>{47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,66},{109,118}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>cbd_dun_t/cbd_dun_t01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,239},{191,175}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{191,175}}</string>
                <key>sourceSize</key>
                <string>{209,189}</string>
            </dict>
            <key>cbd_dun_t/cbd_dun_t02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{202,169}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{202,169}}</string>
                <key>sourceSize</key>
                <string>{214,185}</string>
            </dict>
            <key>cbd_dun_t/cbd_dun_t03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{201,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{201,170}}</string>
                <key>sourceSize</key>
                <string>{213,184}</string>
            </dict>
            <key>cbd_dun_t/cbd_dun_t04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{200,170}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{200,170}}</string>
                <key>sourceSize</key>
                <string>{214,186}</string>
            </dict>
            <key>cbd_dun_t/cbd_dun_t05.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,595},{198,168}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{198,168}}</string>
                <key>sourceSize</key>
                <string>{210,178}</string>
            </dict>
            <key>cbd_dun_t/cbd_dun_t06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{202,172}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{202,172}}</string>
                <key>sourceSize</key>
                <string>{220,186}</string>
            </dict>
            <key>cbd_dun_t/cbd_dun_t07.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,613},{202,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{202,158}}</string>
                <key>sourceSize</key>
                <string>{216,172}</string>
            </dict>
            <key>cbd_dun_t/cbd_dun_t08.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,416},{195,170}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{195,170}}</string>
                <key>sourceSize</key>
                <string>{211,196}</string>
            </dict>
            <key>cbd_dun_t/cbd_dun_t09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,234},{199,156}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{199,156}}</string>
                <key>sourceSize</key>
                <string>{209,168}</string>
            </dict>
            <key>cbd_pt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,817},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>cbd_touying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,817},{73,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,41}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cbd0.pvr.ccz</string>
            <key>size</key>
            <string>{557,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62cf71578cad8a51cb0014d946e751ef$</string>
            <key>textureFileName</key>
            <string>cbd0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
