<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_skill_6/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{91,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,143}}</string>
                <key>sourceSize</key>
                <string>{91,145}</string>
            </dict>
            <key>m_skill_6/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,195}}</string>
                <key>sourceSize</key>
                <string>{85,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_skill_60.pvr.ccz</string>
            <key>size</key>
            <string>{182,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aebab265707516a13456057f1cce9f2$</string>
            <key>textureFileName</key>
            <string>m_skill_60.pvr.ccz</string>
        </dict>
    </dict>
</plist>
