<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bagua/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,454},{88,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,135}}</string>
                <key>sourceSize</key>
                <string>{88,135}</string>
            </dict>
            <key>bagua/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{125,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,85}}</string>
                <key>sourceSize</key>
                <string>{125,85}</string>
            </dict>
            <key>bagua/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,591},{93,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,107}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>bagua/bagua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{163,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,162}}</string>
                <key>sourceSize</key>
                <string>{163,162}</string>
            </dict>
            <key>bagua/di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,350}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>bagua/hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,839},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>bagua/jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{239,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,237}}</string>
                <key>sourceSize</key>
                <string>{239,237}</string>
            </dict>
            <key>bagua/jindu_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,857},{34,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,73}}</string>
                <key>sourceSize</key>
                <string>{34,73}</string>
            </dict>
            <key>bagua/lianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,693},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>bagua1/bagua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bagualu0.pvr.ccz</string>
            <key>size</key>
            <string>{354,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8b416d839435f121ebb7b12ab4108c3$</string>
            <key>textureFileName</key>
            <string>bagualu0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
