<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orcwomman/orcwomman_arm_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,222},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>orcwomman/orcwomman_arm_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,222},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>orcwomman/orcwomman_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,222},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>orcwomman/orcwomman_foot_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,222},{6,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{6,12}</string>
            </dict>
            <key>orcwomman/orcwomman_fott_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,222},{6,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,11}}</string>
                <key>sourceSize</key>
                <string>{6,11}</string>
            </dict>
            <key>orcwomman/orcwomman_hand_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,222},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>orcwomman/orcwomman_hand_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,222},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>orcwomman/orcwomman_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,104},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>orcwomman/orcwomman_leg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,222},{5,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,12}}</string>
                <key>sourceSize</key>
                <string>{5,12}</string>
            </dict>
            <key>orcwomman/orcwomman_leg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,222},{7,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,11}}</string>
                <key>sourceSize</key>
                <string>{7,11}</string>
            </dict>
            <key>orcwomman/orcwomman_underpants.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,222},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>orcwomman/orcwomman_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,169},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>orcwomman_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{156,218}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{156,218}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
            <key>orcwomman_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,236}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
            <key>orcwomman_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{100,52}}</string>
                <key>offset</key>
                <string>{-45,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{200,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orcwomman0.pvr.ccz</string>
            <key>size</key>
            <string>{416,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d4119026b12f3d78e3efde3e7f2baa6$</string>
            <key>textureFileName</key>
            <string>orcwomman0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
