<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d11009/0010030.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,912},{124,94}}</string>
                <key>offset</key>
                <string>{-64,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>d11009/0010047.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,215},{216,132}}</string>
                <key>offset</key>
                <string>{-27,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{216,132}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>d11009/0010062.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,466},{252,218}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{252,218}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>d11009/0010072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{250,230}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{250,230}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>d11009/0010082.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,234},{230,238}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,0},{230,238}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>d11009/0010087.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,215},{218,240}}</string>
                <key>offset</key>
                <string>{23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{218,240}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>d11009/0010114.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,475},{68,124}}</string>
                <key>offset</key>
                <string>{69,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,99},{68,124}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>lsj/lsj_houbai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,601},{51,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,31}}</string>
                <key>sourceSize</key>
                <string>{51,31}</string>
            </dict>
            <key>lsj/lsj_lian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{85,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,73}}</string>
                <key>sourceSize</key>
                <string>{85,73}</string>
            </dict>
            <key>lsj/lsj_qunzi1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,971},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>lsj/lsj_qunzi2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,433},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>lsj/lsj_shenti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,955},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>lsj/lsj_toufa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,164},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>lsj/lsj_touying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,108},{97,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>lsj/lsj_wuqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>lsj/lsj_youbi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,955},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>lsj/lsj_youjiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,164},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>lsj/lsj_youshou1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,912},{65,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,57}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>lsj/lsj_youshou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,912},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>lsj/lsj_youtui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,433},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>lsj/lsj_zuobi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,77},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>lsj/lsj_zuojiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,433},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>lsj/lsj_zuoshou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,77},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>lsj/lsj_zuotui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,77},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>lsj_d_01/lsj_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,230}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>lsj_d_01/lsj_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,720},{235,190}}</string>
                <key>offset</key>
                <string>{51,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,38},{235,190}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>lsj_d_01/lsj_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,850},{169,158}}</string>
                <key>offset</key>
                <string>{62,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,59},{169,158}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>lsj_d_01/lsj_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,835},{109,118}}</string>
                <key>offset</key>
                <string>{47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,66},{109,118}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>lsj_pt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,108},{171,175}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{171,175}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>lsj_pt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{80,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,145}}</string>
                <key>sourceSize</key>
                <string>{82,145}</string>
            </dict>
            <key>s_jineng/111.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,128},{85,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,382}}</string>
                <key>sourceSize</key>
                <string>{85,382}</string>
            </dict>
            <key>s_jineng/222.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,466},{88,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,380}}</string>
                <key>sourceSize</key>
                <string>{88,380}</string>
            </dict>
            <key>s_jineng/333.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,466},{85,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,382}}</string>
                <key>sourceSize</key>
                <string>{85,382}</string>
            </dict>
            <key>s_jineng/444.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{82,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,392}}</string>
                <key>sourceSize</key>
                <string>{82,392}</string>
            </dict>
            <key>s_jineng/texiao_sss.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,655},{183,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,178}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>skill_d0/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,475},{178,184}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,121},{178,184}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_d0/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,285},{188,162}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,155},{188,162}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_d0/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,668},{184,146}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,173},{184,146}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_d0/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,655},{182,146}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,176},{182,146}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_d0/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,854},{182,150}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,175},{182,150}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_d0/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,839},{178,150}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,175},{178,150}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_d0/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,457},{192,142}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,181},{192,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_d0/10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,466},{200,134}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,182},{200,134}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_d0/10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{192,104}}</string>
                <key>offset</key>
                <string>{10,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,216},{192,104}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>xiaoc_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{354,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,124}}</string>
                <key>sourceSize</key>
                <string>{354,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lsj0.pvr.ccz</string>
            <key>size</key>
            <string>{1021,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f61ea0459e580b23f8c9e78db8f61e98$</string>
            <key>textureFileName</key>
            <string>lsj0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
