<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nangongch/nangongch_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,229},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>nangongch/nangongch_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,388},{82,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,121}}</string>
                <key>sourceSize</key>
                <string>{82,121}</string>
            </dict>
            <key>nangongch/nangongch_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{223,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,104}}</string>
                <key>sourceSize</key>
                <string>{223,104}</string>
            </dict>
            <key>nangongch/nangongch_xiabai.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,457},{89,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,53}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
            <key>nangongch/nangongch_yao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,108},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>nangongch/nangongch_yao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,122},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>nangongch/nangongch_yao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,403},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>nangongch/nangongch_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,460},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>nangongch/nangongch_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,331},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>nangongch/nangongch_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,460},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>nangongch/nangongch_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,403},{55,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,66}}</string>
                <key>sourceSize</key>
                <string>{55,66}</string>
            </dict>
            <key>nangongch/nangongch_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,460},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>nangongch/nangongch_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,450},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>nangongch/nangongch_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,460},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>nangongch/nangongch_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,460},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,46}</string>
            </dict>
            <key>nangongch/nangongch_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,169},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>nangongch_d2/dog02_d201.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,354},{80,94}}</string>
                <key>offset</key>
                <string>{-59,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,94}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nangongch_d2/dog02_d202.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{118,138}}</string>
                <key>offset</key>
                <string>{-26,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{118,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nangongch_d2/dog02_d203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{156,182}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{156,182}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nangongch_d2/dog02_d205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,214}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{180,214}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nangongch_d2/dog02_d207.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,108},{162,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{162,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nangongch_d2/dog02_d208.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,248},{146,138}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,56},{146,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>nangongch_d2/dog02_d209.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{148,136}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,58},{148,136}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>ngch_pt/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,402},{108,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>ngch_pt/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,122},{110,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>ngch_pt/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,247},{100,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,105}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>ngch_pt/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,248},{106,97}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{106,97}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>ngch_pt/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,354},{104,105}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,105}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>ngch_pt/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{108,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>ngch_pt/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,140},{110,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>ngch_pt/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,140},{100,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,105}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>ngch_pt/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,356},{106,99}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{106,99}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>ngch_pt/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,247},{104,105}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,105}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nangongch0.pvr.ccz</string>
            <key>size</key>
            <string>{710,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f16b2fa15ee7893a1df79fe7847c97$</string>
            <key>textureFileName</key>
            <string>nangongch0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
