<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baiguang_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,238},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>bg_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>bing_01/bing_0d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,329},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>skill_20_002/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,98},{123,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,32}}</string>
                <key>sourceSize</key>
                <string>{123,32}</string>
            </dict>
            <key>skill_20_002/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,238},{50,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,165}}</string>
                <key>sourceSize</key>
                <string>{50,165}</string>
            </dict>
            <key>skill_20_002/44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{107,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,168}}</string>
                <key>sourceSize</key>
                <string>{107,168}</string>
            </dict>
            <key>skill_20_002/55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,94}}</string>
                <key>sourceSize</key>
                <string>{239,94}</string>
            </dict>
            <key>skill_20_002/65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{205,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,64}}</string>
                <key>sourceSize</key>
                <string>{205,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_200.pvr.ccz</string>
            <key>size</key>
            <string>{254,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40b073f307213bf3ce5009cfc846f4d1$</string>
            <key>textureFileName</key>
            <string>skill_200.pvr.ccz</string>
        </dict>
    </dict>
</plist>
