<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crush_ele_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,330},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>crush_ele_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,254},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>crush_ele_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,178},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>crush_ele_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,102},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>crush_ele_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>crush_ele_key_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{76,312}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{76,312}}</string>
                <key>sourceSize</key>
                <string>{76,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crush_ele_bg.pvr.ccz</string>
            <key>size</key>
            <string>{156,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c038aefef840d38198d23127f8f2a32$</string>
            <key>textureFileName</key>
            <string>crush_ele_bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
