<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spy_chf_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,433},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,471},{27,26}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{27,26}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,410},{59,108}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,46},{59,108}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,274},{65,120}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{65,120}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,341},{67,120}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{67,120}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,140},{61,106}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,56},{61,106}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,57},{59,100}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,62},{59,100}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{53,104}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,54},{53,104}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,378},{53,112}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,55},{53,112}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,264},{55,106}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,67},{55,106}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,321},{55,118}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,64},{55,118}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{61,128}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,53},{61,128}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,471},{31,46}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,46},{31,46}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,433},{39,48}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{39,48}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{137,136}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,136}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{137,136}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,136}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,136}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,136}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{135,134}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{135,134}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,140},{135,132}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,132}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>sqy_cfh_s1/sqy_cfh_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,203},{59,106}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{59,106}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_270.pvr.ccz</string>
            <key>size</key>
            <string>{386,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8849521588b2a987faef4ce182819d55$</string>
            <key>textureFileName</key>
            <string>skill_270.pvr.ccz</string>
        </dict>
    </dict>
</plist>
