<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianzu/LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{499,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,213}}</string>
                <key>sourceSize</key>
                <string>{499,213}</string>
            </dict>
            <key>jianzu/dianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,360},{138,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{138,35}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>jianzu/jianzu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{640,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,251}}</string>
                <key>sourceSize</key>
                <string>{640,251}</string>
            </dict>
            <key>jianzu/jianzu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{415,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,471}}</string>
                <key>sourceSize</key>
                <string>{415,471}</string>
            </dict>
            <key>jianzu/jianzu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{194,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,366}}</string>
                <key>sourceSize</key>
                <string>{194,366}</string>
            </dict>
            <key>jianzu/jianzu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{356,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,285}}</string>
                <key>sourceSize</key>
                <string>{356,285}</string>
            </dict>
            <key>jianzu/yun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,728},{452,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,227}}</string>
                <key>sourceSize</key>
                <string>{452,227}</string>
            </dict>
            <key>jianzu/yun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,360},{357,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,267}}</string>
                <key>sourceSize</key>
                <string>{357,267}</string>
            </dict>
            <key>shuye_lizi/shuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,370},{109,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>denglu0.pvr.ccz</string>
            <key>size</key>
            <string>{957,957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9e9e64c717c7c2bc6c76194a4253f2d$</string>
            <key>textureFileName</key>
            <string>denglu0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
