<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dcss_4pt/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,458},{116,65}}</string>
                <key>offset</key>
                <string>{94,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,2},{116,65}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,525},{130,63}}</string>
                <key>offset</key>
                <string>{90,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,3},{130,63}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{288,47}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{288,47}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,525},{128,59}}</string>
                <key>offset</key>
                <string>{91,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,6},{128,59}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,518},{128,47}}</string>
                <key>offset</key>
                <string>{91,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,11},{128,47}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,560},{128,41}}</string>
                <key>offset</key>
                <string>{91,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,15},{128,41}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,676},{128,41}}</string>
                <key>offset</key>
                <string>{91,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,15},{128,41}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{274,61}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{274,61}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{324,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,65}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{324,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,67}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dcss_4pt/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,67}}</string>
                <key>sourceSize</key>
                <string>{324,67}</string>
            </dict>
            <key>dongcss4_d2/dog02_d201.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,376},{80,94}}</string>
                <key>offset</key>
                <string>{-59,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,94}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dongcss4_d2/dog02_d202.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,536},{118,138}}</string>
                <key>offset</key>
                <string>{-26,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{118,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dongcss4_d2/dog02_d203.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{156,182}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{156,182}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dongcss4_d2/dog02_d205.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,160},{180,214}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{180,214}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dongcss4_d2/dog02_d207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{162,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{162,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dongcss4_d2/dog02_d208.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{146,138}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,56},{146,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dongcss4_d2/dog02_d209.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,320},{148,136}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,58},{148,136}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dongcss_4/dongcss_4_houbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,494},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>dongcss_4/dongcss_4_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,458},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>dongcss_4/dongcss_4_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,376},{83,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,116}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>dongcss_4/dongcss_4_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{166,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,75}}</string>
                <key>sourceSize</key>
                <string>{166,75}</string>
            </dict>
            <key>dongcss_4/dongcss_4_yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,494},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
            <key>dongcss_4/dongcss_4_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,458},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>dongcss_4/dongcss_4_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,684},{28,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>dongcss_4/dongcss_4_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,684},{28,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,53}}</string>
                <key>sourceSize</key>
                <string>{28,53}</string>
            </dict>
            <key>dongcss_4/dongcss_4_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,684},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>dongcss_4/dongcss_4_youxiabai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,657},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>dongcss_4/dongcss_4_youxiabai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,281},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>dongcss_4/dongcss_4_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,655},{38,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,53}</string>
            </dict>
            <key>dongcss_4/dongcss_4_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,648},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>dongcss_4/dongcss_4_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,207},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>dongcss_4/dongcss_4_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>dongcss_4/dongcss_4_zuoxiabai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,655},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>dongcss_4/dongcss_4_zuoxiabai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,254},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dongcss_40.pvr.ccz</string>
            <key>size</key>
            <string>{512,719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fd7487eaa54de56ae04c97223d6c4f1$</string>
            <key>textureFileName</key>
            <string>dongcss_40.pvr.ccz</string>
        </dict>
    </dict>
</plist>
