<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bones03/bones03_arm_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,30},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>bones03/bones03_arm_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>bones03/bones03_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,218},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>bones03/bones03_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,167},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>bones03/bones03_foot_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,78},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>bones03/bones03_foot_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,55},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>bones03/bones03_hand_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,101},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>bones03/bones03_hand_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,117},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>bones03/bones03_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,255},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>bones03/bones03_leg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,154},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>bones03/bones03_leg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,140},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>bones03/bones03_underpants.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,167},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>bones03/bones03_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>bones03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{185,134}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{185,134}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bones03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,255},{185,142}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{185,142}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bones03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{185,142}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{185,142}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bones03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{197,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{197,140}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bones03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,255},{183,138}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{183,138}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bones03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,255},{185,138}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{185,138}}</string>
                <key>sourceSize</key>
                <string>{205,144}</string>
            </dict>
            <key>bones_03_04/bones_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{214,66}}</string>
                <key>offset</key>
                <string>{-153,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{214,66}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>bones_03_04/bones_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,442},{494,40}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{494,40}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>bones_03_04/bones_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,201},{504,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{504,52}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>bones_03_04/bones_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{496,68}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>bones_03_04/bones_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{482,70}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{482,70}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>bones_03_04/bones_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,484},{450,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{450,26}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>bones_03_04/bones_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,486},{146,24}}</string>
                <key>offset</key>
                <string>{147,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,27},{146,24}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bones030.pvr.ccz</string>
            <key>size</key>
            <string>{737,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a72da05d76acd02f02d985a5cef67bb$</string>
            <key>textureFileName</key>
            <string>bones030.pvr.ccz</string>
        </dict>
    </dict>
</plist>
