<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniutubiao/aixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,347},{68,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{68,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>anniutubiao/aixin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>anniutubiao/aixin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{106,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{106,100}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>anniutubiao/aixinz.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,426},{68,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{68,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>anniutubiao/aixinz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{68,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{68,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>anniutubiao/dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,264},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>anniutubiao/dao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,220},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>anniutubiao/dao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,96},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>anniutubiao/daoz.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,190},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>anniutubiao/daoz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,417},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>anniutubiao/dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,158},{70,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anniutubiao/dun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,104},{78,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{78,86}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>anniutubiao/dun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>anniutubiao/duns_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,417},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>anniutubiao/dunz.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,80},{70,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anniutubiao/dunz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>anniutubiao/feibiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,114},{62,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{62,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>anniutubiao/feibiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,326},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>anniutubiao/feibiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>anniutubiao/feibiaoz.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,364},{62,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{62,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>anniutubiao/feibiaoz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,300},{62,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{62,66}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>anniutubiao/feibs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,236},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{62,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>anniutubiao/jians_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,418},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>anniutubiao/sji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>anniutubiao/sjiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,267},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>anniutubiao/xins_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,347},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>anniutubiao/zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,415},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>anniutubiao/zhang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>anniutubiao/zhang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,110}}</string>
                <key>sourceSize</key>
                <string>{117,110}</string>
            </dict>
            <key>anniutubiao/zhangs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,340},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>anniutubiao/zhangz.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,265},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>anniutubiao/zhangz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,190},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>xingxing_01/xingxing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crush_icon0.pvr.ccz</string>
            <key>size</key>
            <string>{506,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79940d88138902cbf5670cc26186f078$</string>
            <key>textureFileName</key>
            <string>crush_icon0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
