<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{681,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,211}}</string>
                <key>sourceSize</key>
                <string>{681,211}</string>
            </dict>
            <key>map_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,492},{298,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,88}}</string>
                <key>sourceSize</key>
                <string>{298,88}</string>
            </dict>
            <key>map_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,248},{121,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,86}}</string>
                <key>sourceSize</key>
                <string>{121,86}</string>
            </dict>
            <key>map_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,794},{334,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,182}}</string>
                <key>sourceSize</key>
                <string>{334,182}</string>
            </dict>
            <key>map_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,342},{287,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,220}}</string>
                <key>sourceSize</key>
                <string>{287,220}</string>
            </dict>
            <key>map_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,461},{369,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,200}}</string>
                <key>sourceSize</key>
                <string>{369,200}</string>
            </dict>
            <key>map_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{338,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,220}}</string>
                <key>sourceSize</key>
                <string>{338,220}</string>
            </dict>
            <key>map_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,794},{307,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,147}}</string>
                <key>sourceSize</key>
                <string>{307,147}</string>
            </dict>
            <key>map_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,978},{158,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,94}}</string>
                <key>sourceSize</key>
                <string>{158,94}</string>
            </dict>
            <key>map_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{769,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{769,244}}</string>
                <key>sourceSize</key>
                <string>{769,244}</string>
            </dict>
            <key>map_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1051},{339,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,72}}</string>
                <key>sourceSize</key>
                <string>{339,72}</string>
            </dict>
            <key>map_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,663},{386,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,198}}</string>
                <key>sourceSize</key>
                <string>{386,198}</string>
            </dict>
            <key>map_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{644,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,307}}</string>
                <key>sourceSize</key>
                <string>{644,307}</string>
            </dict>
            <key>map_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,371},{84,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,119}}</string>
                <key>sourceSize</key>
                <string>{84,119}</string>
            </dict>
            <key>map_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,631},{212,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,161}}</string>
                <key>sourceSize</key>
                <string>{212,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_2.pvr.ccz</string>
            <key>size</key>
            <string>{996,1127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c00c7a9008e3d8419ca22a67078d1407$</string>
            <key>textureFileName</key>
            <string>map_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
