<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{184,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,85}}</string>
                <key>sourceSize</key>
                <string>{184,85}</string>
            </dict>
            <key>map_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{674,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,373}}</string>
                <key>sourceSize</key>
                <string>{674,373}</string>
            </dict>
            <key>map_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,246},{308,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,245}}</string>
                <key>sourceSize</key>
                <string>{308,245}</string>
            </dict>
            <key>map_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,442},{87,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,62}}</string>
                <key>sourceSize</key>
                <string>{87,62}</string>
            </dict>
            <key>map_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,377},{169,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,63}}</string>
                <key>sourceSize</key>
                <string>{169,63}</string>
            </dict>
            <key>map_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{268,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,116}}</string>
                <key>sourceSize</key>
                <string>{268,116}</string>
            </dict>
            <key>map_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,272},{206,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,196}}</string>
                <key>sourceSize</key>
                <string>{206,196}</string>
            </dict>
            <key>map_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,272},{194,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,61}}</string>
                <key>sourceSize</key>
                <string>{194,61}</string>
            </dict>
            <key>map_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,377},{146,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,100}}</string>
                <key>sourceSize</key>
                <string>{146,100}</string>
            </dict>
            <key>map_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{471,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,242}}</string>
                <key>sourceSize</key>
                <string>{471,242}</string>
            </dict>
            <key>map_7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,377},{115,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,137}}</string>
                <key>sourceSize</key>
                <string>{115,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_7.pvr.ccz</string>
            <key>size</key>
            <string>{1269,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2755e07ff9d6a4cd70a7a33dfe4ae3b$</string>
            <key>textureFileName</key>
            <string>map_7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
