<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_18_02/skill_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,271},{54,68}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,87},{54,68}}</string>
                <key>sourceSize</key>
                <string>{280,210}</string>
            </dict>
            <key>skill_18_02/skill_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{114,148}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,15},{114,148}}</string>
                <key>sourceSize</key>
                <string>{280,210}</string>
            </dict>
            <key>skill_18_02/skill_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,198},{194,182}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{194,182}}</string>
                <key>sourceSize</key>
                <string>{280,210}</string>
            </dict>
            <key>skill_18_02/skill_18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{194,186}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{194,186}}</string>
                <key>sourceSize</key>
                <string>{280,210}</string>
            </dict>
            <key>skill_18_02/skill_18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,192}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{194,192}}</string>
                <key>sourceSize</key>
                <string>{280,210}</string>
            </dict>
            <key>skill_18_02/skill_18_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,198},{194,144}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{194,144}}</string>
                <key>sourceSize</key>
                <string>{280,210}</string>
            </dict>
            <key>skill_18_02/skill_18_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{194,154}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,44},{194,154}}</string>
                <key>sourceSize</key>
                <string>{280,210}</string>
            </dict>
            <key>skill_18_02/skill_18_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{194,170}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,27},{194,170}}</string>
                <key>sourceSize</key>
                <string>{280,210}</string>
            </dict>
            <key>skill_18_02/skill_18_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{194,72}}</string>
                <key>offset</key>
                <string>{-5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,109},{194,72}}</string>
                <key>sourceSize</key>
                <string>{280,210}</string>
            </dict>
            <key>sklii_18_03/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,129},{32,37}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,69},{32,37}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,356},{36,47}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,63},{36,47}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{68,125}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{68,125}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,168},{52,101}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{52,101}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,177},{68,177}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{68,177}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{78,173}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{78,173}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,198},{90,177}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{90,177}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,394},{96,175}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{96,175}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,394},{102,157}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{102,157}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,394},{110,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{110,153}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
            <key>sklii_18_03/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,356},{72,135}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{72,135}}</string>
                <key>sourceSize</key>
                <string>{110,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_180.pvr.ccz</string>
            <key>size</key>
            <string>{748,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a0d81055c3363d805f1a14b52e47449$</string>
            <key>textureFileName</key>
            <string>skill_180.pvr.ccz</string>
        </dict>
    </dict>
</plist>
