<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Orc02/Orc02_Weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{126,100}</string>
            </dict>
            <key>Orc02/Orc02_arm_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,19},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>Orc02/Orc02_arm_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,40},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>Orc02/Orc02_body01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>Orc02/Orc02_body02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,39},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>Orc02/Orc02_foot_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>Orc02/Orc02_foot_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,211},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>Orc02/Orc02_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,211},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>Orc02/Orc02_hand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,211},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>Orc02/Orc02_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,104},{105,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,87}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>Orc02/Orc02_leg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,211},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>Orc02/Orc02_leg_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,65},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>Orc02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{123,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,86}}</string>
                <key>sourceSize</key>
                <string>{123,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ocr_050.pvr.ccz</string>
            <key>size</key>
            <string>{187,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:817823ba77caef564f67397b5192ea41$</string>
            <key>textureFileName</key>
            <string>Ocr_050.pvr.ccz</string>
        </dict>
    </dict>
</plist>
