<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_jinghua_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,409},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,79}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,140},{4,4}}</string>
                <key>offset</key>
                <string>{-84,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,87},{4,4}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,441},{32,72}}</string>
                <key>offset</key>
                <string>{-74,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,81},{32,72}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,484},{48,62}}</string>
                <key>offset</key>
                <string>{-72,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,75},{48,62}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,242},{56,76}}</string>
                <key>offset</key>
                <string>{-79,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,59},{56,76}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,308},{66,88}}</string>
                <key>offset</key>
                <string>{-77,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,52},{66,88}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,490},{56,78}}</string>
                <key>offset</key>
                <string>{-74,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{56,78}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,492},{54,68}}</string>
                <key>offset</key>
                <string>{-80,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,50},{54,68}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,498},{40,54}}</string>
                <key>offset</key>
                <string>{-74,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,75},{40,54}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,485},{34,58}}</string>
                <key>offset</key>
                <string>{-65,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,58},{34,58}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,475},{58,48}}</string>
                <key>offset</key>
                <string>{-76,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,58},{58,48}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,484},{62,54}}</string>
                <key>offset</key>
                <string>{-77,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,49},{62,54}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,492},{54,34}}</string>
                <key>offset</key>
                <string>{-79,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,57},{54,34}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,441},{50,42}}</string>
                <key>offset</key>
                <string>{-81,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{50,42}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,379},{18,22}}</string>
                <key>offset</key>
                <string>{-63,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,133},{18,22}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>buff_lei_d1/HalloweenTesla chargeLoop layer1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,394},{24,26}}</string>
                <key>offset</key>
                <string>{-72,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,127},{24,26}}</string>
                <key>sourceSize</key>
                <string>{232,224}</string>
            </dict>
            <key>dun_d002/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,228},{126,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,146}}</string>
                <key>sourceSize</key>
                <string>{126,146}</string>
            </dict>
            <key>dun_d002/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,228},{126,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,146}}</string>
                <key>sourceSize</key>
                <string>{126,146}</string>
            </dict>
            <key>fuhuo_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,425},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>fuhuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,140},{100,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,182}}</string>
                <key>sourceSize</key>
                <string>{100,198}</string>
            </dict>
            <key>gongjijiaqiang/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,165},{120,90}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,199},{120,90}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,420},{126,94}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,195},{126,94}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,361},{124,96}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,191},{124,96}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,318},{124,100}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,190},{124,100}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,420},{126,90}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,200},{126,90}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,285},{122,90}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,198},{122,90}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,301},{122,78}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,211},{122,78}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,159},{124,80}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,209},{124,80}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,285},{126,80}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,210},{126,80}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,459},{124,84}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,206},{124,84}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>gongjijiaqiang/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,396},{122,80}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,208},{122,80}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>guangq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,287},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hls_01/hls_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,376},{157,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{157,125}}</string>
                <key>sourceSize</key>
                <string>{157,137}</string>
            </dict>
            <key>hls_01/hls_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,150},{129,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{129,133}}</string>
                <key>sourceSize</key>
                <string>{157,137}</string>
            </dict>
            <key>hls_01/hls_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,146},{145,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{145,135}}</string>
                <key>sourceSize</key>
                <string>{157,137}</string>
            </dict>
            <key>hls_01/hls_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,376},{151,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,137}}</string>
                <key>sourceSize</key>
                <string>{157,137}</string>
            </dict>
            <key>hls_01/hls_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,146},{153,73}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{153,73}}</string>
                <key>sourceSize</key>
                <string>{157,137}</string>
            </dict>
            <key>hls_01/hls_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,151},{21,15}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,64},{21,15}}</string>
                <key>sourceSize</key>
                <string>{157,137}</string>
            </dict>
            <key>huo_01_0/zadan_01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,425},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>huo_d11.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,154},{205,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,72}}</string>
                <key>sourceSize</key>
                <string>{205,72}</string>
            </dict>
            <key>huod_23/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,151},{124,98}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,142},{124,98}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,268},{132,126}}</string>
                <key>offset</key>
                <string>{11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,114},{132,126}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,134},{136,132}}</string>
                <key>offset</key>
                <string>{12,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,108},{136,132}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,152},{140,150}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,90},{140,150}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{142,190}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,50},{142,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{146,210}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,28},{146,210}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{146,238}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,1},{146,238}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10043.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{150,214}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,12},{150,214}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10047.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{148,216}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,0},{148,216}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10051.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{136,206}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,0},{136,206}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{134,192}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,0},{134,192}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,2},{130,176}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,0},{130,176}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>huod_23/10063.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,379},{130,158}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{130,158}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ice/buff02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{145,155}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{145,155}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>ice/buff02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,201}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>ice/buff02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{195,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{195,193}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>ice/buff02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,165},{135,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{135,109}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>ice/buff02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,2},{147,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,42},{147,115}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>ice/buff02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,276},{129,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{129,121}}</string>
                <key>sourceSize</key>
                <string>{199,201}</string>
            </dict>
            <key>jinghua_d1/jinghua_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,370},{50,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,80}}</string>
                <key>sourceSize</key>
                <string>{54,86}</string>
            </dict>
            <key>jinghua_d1/jinghua_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,399},{76,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{76,116}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>jinghua_d1/jinghua_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,478},{68,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,102}}</string>
                <key>sourceSize</key>
                <string>{72,106}</string>
            </dict>
            <key>jinghua_d1/jinghua_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,478},{68,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{68,102}}</string>
                <key>sourceSize</key>
                <string>{70,106}</string>
            </dict>
            <key>jinghua_d1/jinghua_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,477},{62,102}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{62,102}}</string>
                <key>sourceSize</key>
                <string>{68,106}</string>
            </dict>
            <key>jinghua_d1/jinghua_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,304},{70,122}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{70,122}}</string>
                <key>sourceSize</key>
                <string>{74,126}</string>
            </dict>
            <key>jinghua_d1/jinghua_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,365},{74,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{74,138}}</string>
                <key>sourceSize</key>
                <string>{76,140}</string>
            </dict>
            <key>jinghua_d1/jinghua_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,376},{74,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{74,142}}</string>
                <key>sourceSize</key>
                <string>{76,146}</string>
            </dict>
            <key>jinghua_d1/jinghua_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,242},{74,140}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{74,140}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>jinghua_d1/jinghua_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,283},{76,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{76,140}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>jinghua_d1/jinghua_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,285},{78,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{78,140}}</string>
                <key>sourceSize</key>
                <string>{82,146}</string>
            </dict>
            <key>jinghua_d1/jinghua_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,138},{78,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{78,152}}</string>
                <key>sourceSize</key>
                <string>{80,156}</string>
            </dict>
            <key>jinghua_d1/jinghua_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,152},{78,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{78,154}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>sxs_01/sxs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,277},{95,91}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{95,91}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>sxs_01/sxs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,367},{129,125}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{129,125}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>sxs_01/sxs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,138},{145,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{145,145}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>sxs_01/sxs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,228},{151,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{151,149}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>sxs_01/sxs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,2},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>sxs_01/sxs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,292},{97,83}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{97,83}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>sxs_01/sxs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,391},{91,83}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,22},{91,83}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>xuanyun/0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,498},{68,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,42},{68,48}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>xuanyun/0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,422},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,38},{66,50}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>xuanyun/0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,422},{68,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{68,52}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>xuanyun/0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,154},{72,58}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,33},{72,58}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>xuanyun/0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,320},{72,62}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,62}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>xuanyun/0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,490},{68,54}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{68,54}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>zhengfushu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,399},{76,116}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{76,116}}</string>
                <key>sourceSize</key>
                <string>{140,144}</string>
            </dict>
            <key>zhiliao_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,484},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f94e75326c670832521d7242c720751$</string>
            <key>textureFileName</key>
            <string>buff0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
