<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_skill_28/0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,92}}</string>
                <key>sourceSize</key>
                <string>{108,92}</string>
            </dict>
            <key>m_skill_28/0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{91,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,143}}</string>
                <key>sourceSize</key>
                <string>{91,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_skill_310.pvr.ccz</string>
            <key>size</key>
            <string>{112,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55e4551d79a1e59fab88b9be043c4e3e$</string>
            <key>textureFileName</key>
            <string>m_skill_310.pvr.ccz</string>
        </dict>
    </dict>
</plist>
