<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigrock_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,214}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,214}}</string>
                <key>sourceSize</key>
                <string>{211,214}</string>
            </dict>
            <key>bigrock_arm_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,298},{52,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,104}}</string>
                <key>sourceSize</key>
                <string>{52,104}</string>
            </dict>
            <key>bigrock_arm_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,241},{55,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,100}}</string>
                <key>sourceSize</key>
                <string>{55,100}</string>
            </dict>
            <key>bigrock_body01.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,120},{119,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,89}}</string>
                <key>sourceSize</key>
                <string>{119,89}</string>
            </dict>
            <key>bigrock_body02.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{114,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,78}}</string>
                <key>sourceSize</key>
                <string>{114,78}</string>
            </dict>
            <key>bigrock_d1/brd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,352},{52,58}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,74},{52,58}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,350},{96,116}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{96,116}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{98,116}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{98,116}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{104,122}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{104,122}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,406},{52,58}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,74},{52,58}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,293},{52,60}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,73},{52,60}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,406},{50,56}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,76},{50,56}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,224},{50,114}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{50,114}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,352},{52,136}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,1},{52,136}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,118},{66,134}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{66,134}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,224},{90,124}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{90,124}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_d1/brd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,126},{96,116}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{96,116}}</string>
                <key>sourceSize</key>
                <string>{106,150}</string>
            </dict>
            <key>bigrock_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,406},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>bigrock_hand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,254},{37,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,81}}</string>
                <key>sourceSize</key>
                <string>{37,81}</string>
            </dict>
            <key>bigrock_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,406},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>br_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{238,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{238,172}}</string>
                <key>sourceSize</key>
                <string>{250,174}</string>
            </dict>
            <key>rock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,118},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>rock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,464},{6,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,14}}</string>
                <key>sourceSize</key>
                <string>{6,14}</string>
            </dict>
            <key>rock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,144},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>rock4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{8,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,19}}</string>
                <key>sourceSize</key>
                <string>{8,19}</string>
            </dict>
            <key>rock5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,340},{10,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,26}}</string>
                <key>sourceSize</key>
                <string>{10,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigrock0.pvr.ccz</string>
            <key>size</key>
            <string>{505,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd2fb0b109b74e16978a2716a27fb2d6$</string>
            <key>textureFileName</key>
            <string>bigrock0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
