<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiao_02/liumang.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,128},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>xiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,292},{134,132}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{134,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>xiao_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,292},{134,132}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{134,132}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>xiaoc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{354,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,124}}</string>
                <key>sourceSize</key>
                <string>{354,124}</string>
            </dict>
            <key>xiaoc_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,124}}</string>
                <key>sourceSize</key>
                <string>{354,124}</string>
            </dict>
            <key>xingxing_02/xingxing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,128},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crush_effect0.pvr.ccz</string>
            <key>size</key>
            <string>{396,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e277a19c5672bece4b4583f7b4a6b8f4$</string>
            <key>textureFileName</key>
            <string>crush_effect0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
