<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog02/dog02_arm_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,957},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>dog02/dog02_arm_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,957},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>dog02/dog02_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{216,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,176}}</string>
                <key>sourceSize</key>
                <string>{216,176}</string>
            </dict>
            <key>dog02/dog02_foot_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,905},{69,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,45}}</string>
                <key>sourceSize</key>
                <string>{69,45}</string>
            </dict>
            <key>dog02/dog02_foot_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,957},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>dog02/dog02_hand_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,409},{114,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,63}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>dog02/dog02_hand_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,690},{118,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{118,80}</string>
            </dict>
            <key>dog02/dog02_head_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,434},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>dog02/dog02_head_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,474},{108,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,124}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>dog02/dog02_head_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,324},{83,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,115}}</string>
                <key>sourceSize</key>
                <string>{83,115}</string>
            </dict>
            <key>dog02/dog02_leg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,856},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>dog02/dog02_leg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,772},{67,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,82}}</string>
                <key>sourceSize</key>
                <string>{67,82}</string>
            </dict>
            <key>dog02/dog02_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,600},{101,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>dog02_01/dog02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,684},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dog02_d2/dog02_d201.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,692},{80,94}}</string>
                <key>offset</key>
                <string>{-59,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,94}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dog02_d2/dog02_d202.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,314},{118,138}}</string>
                <key>offset</key>
                <string>{-26,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{118,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dog02_d2/dog02_d203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{156,182}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{156,182}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dog02_d2/dog02_d205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{180,214}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{180,214}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dog02_d2/dog02_d207.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{162,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,55},{162,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dog02_d2/dog02_d208.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,166},{146,138}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,56},{146,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dog02_d2/dog02_d209.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,540},{148,136}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,58},{148,136}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>dog02_d41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{176,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>dog02_d42.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,774},{181,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,178}}</string>
                <key>sourceSize</key>
                <string>{181,178}</string>
            </dict>
            <key>dog02_d43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,333}}</string>
                <key>sourceSize</key>
                <string>{320,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog020.pvr.ccz</string>
            <key>size</key>
            <string>{477,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7313439812e2a324f09c2b094b40285$</string>
            <key>textureFileName</key>
            <string>dog020.pvr.ccz</string>
        </dict>
    </dict>
</plist>
