<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>archer01_arm_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,698},{31,49}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{33,53}</string>
            </dict>
            <key>archer01_arm_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,991},{31,55}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{31,55}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>archer01_body01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,916},{87,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,117}}</string>
                <key>sourceSize</key>
                <string>{93,119}</string>
            </dict>
            <key>archer01_body02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,916},{73,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{73,51}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>archer01_foot_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,749},{40,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>archer01_foot_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,551},{43,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>archer01_gongjian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{119,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{119,256}}</string>
                <key>sourceSize</key>
                <string>{121,264}</string>
            </dict>
            <key>archer01_gongjian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{117,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{117,232}}</string>
                <key>sourceSize</key>
                <string>{121,264}</string>
            </dict>
            <key>archer01_gongjian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{113,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{113,202}}</string>
                <key>sourceSize</key>
                <string>{121,264}</string>
            </dict>
            <key>archer01_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,641},{38,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,55}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>archer01_hand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,551},{41,62}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{41,62}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>archer01_leg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,788},{41,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,51}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>archer01_leg_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,588},{51,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,60}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>archer01_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,342},{207,107}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,107}}</string>
                <key>sourceSize</key>
                <string>{213,107}</string>
            </dict>
            <key>longwu01_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{186,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{186,173}</string>
            </dict>
            <key>longwu_01_d/longwu_01_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,788},{100,126}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,29},{100,126}}</string>
                <key>sourceSize</key>
                <string>{238,180}</string>
            </dict>
            <key>longwu_01_d/longwu_01_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,788},{74,126}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{74,126}}</string>
                <key>sourceSize</key>
                <string>{238,180}</string>
            </dict>
            <key>longwu_01_d/longwu_01_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,206},{104,130}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,27},{104,130}}</string>
                <key>sourceSize</key>
                <string>{238,180}</string>
            </dict>
            <key>longwu_01_d/longwu_01_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{218,168}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{218,168}}</string>
                <key>sourceSize</key>
                <string>{238,180}</string>
            </dict>
            <key>longwu_01_d/longwu_01_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{238,168}}</string>
                <key>sourceSize</key>
                <string>{238,180}</string>
            </dict>
            <key>longwu_01_d/longwu_01_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,600},{186,172}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,6},{186,172}}</string>
                <key>sourceSize</key>
                <string>{238,180}</string>
            </dict>
            <key>longwu_01_d/longwu_01_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,338},{116,174}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,4},{116,174}}</string>
                <key>sourceSize</key>
                <string>{238,180}</string>
            </dict>
            <key>longwu_01_d/longwu_01_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,514},{72,110}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{72,110}}</string>
                <key>sourceSize</key>
                <string>{238,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longwu010.pvr.ccz</string>
            <key>size</key>
            <string>{357,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fb3d784ee902b79573d7d086f893ad9$</string>
            <key>textureFileName</key>
            <string>longwu010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
