<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,43}}</string>
                <key>sourceSize</key>
                <string>{150,43}</string>
            </dict>
            <key>chuansongmen-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{52,90}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,20},{52,90}}</string>
                <key>sourceSize</key>
                <string>{140,144}</string>
            </dict>
            <key>sqy_jn_03/sqy_jn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,47},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_450.pvr.ccz</string>
            <key>size</key>
            <string>{154,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c016bedb3dffd10657c711c1d3c4d41$</string>
            <key>textureFileName</key>
            <string>skill_450.pvr.ccz</string>
        </dict>
    </dict>
</plist>
