<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ele_round_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,74},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{76,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{76,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{76,62}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,66},{76,58}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{76,38}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>ice_state_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ice_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weak_items.pvr.ccz</string>
            <key>size</key>
            <string>{384,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1295aa2bd9c51bda9820a989325aff78$</string>
            <key>textureFileName</key>
            <string>weak_items.pvr.ccz</string>
        </dict>
    </dict>
</plist>
