<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bones01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,338},{76,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,136}}</string>
                <key>sourceSize</key>
                <string>{76,140}</string>
            </dict>
            <key>gbd1_d1/gbd1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,416},{102,74}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{102,74}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbd1_d1/gbd1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,338},{144,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{144,102}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbd1_d1/gbd1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,120},{158,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{158,104}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbd1_d1/gbd1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,239},{158,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{158,120}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbd1_d1/gbd1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,365},{166,126}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{166,126}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbd1_d1/gbd1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{172,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{172,126}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbd1_d1/gbd1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,362},{176,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{176,128}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbd1_d1/gbd1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{160,116}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{160,116}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbd1_d1/gbd1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,226},{146,110}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{146,110}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>ghostbones_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,230}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>ghostbones_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{235,190}}</string>
                <key>offset</key>
                <string>{-51,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,38},{235,190}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>ghostbones_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{169,158}}</string>
                <key>offset</key>
                <string>{-63,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,59},{169,158}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>ghostbones_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,239},{121,126}}</string>
                <key>offset</key>
                <string>{-44,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{121,126}}</string>
                <key>sourceSize</key>
                <string>{361,230}</string>
            </dict>
            <key>ghostbones_arm_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,204},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>ghostbones_arm_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,192},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>ghostbones_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,205},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ghostbones_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,205},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>ghostbones_foot_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,228},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>ghostbones_foot_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,219},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>ghostbones_hand_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,228},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>ghostbones_hand_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,228},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>ghostbones_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,173},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>ghostbones_leg_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,229},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>ghostbones_leg_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,228},{6,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,11}}</string>
                <key>sourceSize</key>
                <string>{6,11}</string>
            </dict>
            <key>ghostbones_lizi_01/yanwuhuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,173},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ghostbones_underpants.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,173},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>ghostbones_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,173},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ghostbones0.pvr.ccz</string>
            <key>size</key>
            <string>{772,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:032ccfb6e37c3b42a923f159361d712c$</string>
            <key>textureFileName</key>
            <string>ghostbones0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
