<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fushou/kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,203},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>fushou/shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,217},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,88}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>fushou/tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,217},{85,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,102}}</string>
                <key>sourceSize</key>
                <string>{85,102}</string>
            </dict>
            <key>fushou/wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{280,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,106}}</string>
                <key>sourceSize</key>
                <string>{280,106}</string>
            </dict>
            <key>fushou/youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,203},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>fushou/youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,299},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>fushou/youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,280},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>fushou/youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,307},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>fushou/zuohouwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,284},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>fushou/zuojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,203},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>fushou/zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,307},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>fushou/zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,299},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>fushou/zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,307},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>fushou_02/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{226,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,213}}</string>
                <key>sourceSize</key>
                <string>{226,213}</string>
            </dict>
            <key>fushou_02/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,213}}</string>
                <key>sourceSize</key>
                <string>{228,213}</string>
            </dict>
            <key>fushou_02/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{199,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,215}}</string>
                <key>sourceSize</key>
                <string>{199,215}</string>
            </dict>
            <key>fushou_02/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{177,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,161}}</string>
                <key>sourceSize</key>
                <string>{177,161}</string>
            </dict>
            <key>fushou_02/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{173,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,161}}</string>
                <key>sourceSize</key>
                <string>{173,161}</string>
            </dict>
            <key>fushou_02/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,165},{163,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,140}}</string>
                <key>sourceSize</key>
                <string>{163,140}</string>
            </dict>
            <key>fushou_02/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,177},{161,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,146}}</string>
                <key>sourceSize</key>
                <string>{161,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fushou0.pvr.ccz</string>
            <key>size</key>
            <string>{1019,339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59ce71c5bf697cb08b154fb5af170218$</string>
            <key>textureFileName</key>
            <string>fushou0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
