<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_d1/gbr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,290},{102,74}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,46},{102,74}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbr_d1/gbr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,176},{144,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{144,102}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbr_d1/gbr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{158,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{158,104}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbr_d1/gbr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,298},{158,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{158,120}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbr_d1/gbr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,162},{166,126}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{166,126}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbr_d1/gbr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,162},{172,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{172,126}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbr_d1/gbr_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,176},{176,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{176,128}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbr_d1/gbr_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{160,116}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{160,116}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>gbr_d1/gbr_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,306},{146,110}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{146,110}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>ghost_bigrock_arm_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,387},{62,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,125}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>ghost_bigrock_arm_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,290},{67,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,122}}</string>
                <key>sourceSize</key>
                <string>{67,122}</string>
            </dict>
            <key>ghost_bigrock_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,322},{145,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,109}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>ghost_bigrock_flystone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,274},{16,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,30}}</string>
                <key>sourceSize</key>
                <string>{16,30}</string>
            </dict>
            <key>ghost_bigrock_flystone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,359},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>ghost_bigrock_flystone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,394},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>ghost_bigrock_flystone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,306},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>ghost_bigrock_flystone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,359},{12,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,33}}</string>
                <key>sourceSize</key>
                <string>{12,33}</string>
            </dict>
            <key>ghost_bigrock_hand_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,394},{38,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,78}}</string>
                <key>sourceSize</key>
                <string>{38,78}</string>
            </dict>
            <key>ghost_bigrock_hand_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,406},{45,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,99}}</string>
                <key>sourceSize</key>
                <string>{45,99}</string>
            </dict>
            <key>ghost_bigrock_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,359},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>ghost_bigrock_underpants.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,290},{140,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,95}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>ghostbigrock_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,274},{132,130}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,151},{132,130}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>ghostbigrock_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{190,270}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{190,270}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>ghostbigrock_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,294}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{186,294}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>ghostbigrock_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{172,276}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{172,276}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>ghostbigrock_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{158,254}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,46},{158,254}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>ghostbigrock_lizi_01/ghostbigrock_lizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,406},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ghost_bigrock0.pvr.ccz</string>
            <key>size</key>
            <string>{1022,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b723377a90c857ce9081ce1630910560$</string>
            <key>textureFileName</key>
            <string>ghost_bigrock0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
