<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snowking/snowking_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,190},{94,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>snowking/snowking_flystone.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,373},{134,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,76}}</string>
                <key>sourceSize</key>
                <string>{134,76}</string>
            </dict>
            <key>snowking/snowking_hand_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,491},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>snowking/snowking_hand_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,445},{44,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,70}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>snowking/snowking_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{226,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,223}}</string>
                <key>sourceSize</key>
                <string>{226,223}</string>
            </dict>
            <key>snowking/snowking_underpants.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>snowking/snowking_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{212,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,154}}</string>
                <key>sourceSize</key>
                <string>{212,154}</string>
            </dict>
            <key>snowking_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,259},{152,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{152,140}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>snowking_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,94},{116,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{116,141}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>snowking_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,451},{130,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{130,173}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>snowking_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,413},{132,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{132,165}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>snowking_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,237},{134,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{134,133}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>snowking_d/snowking_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,580},{170,52}}</string>
                <key>offset</key>
                <string>{-121,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{170,52}}</string>
                <key>sourceSize</key>
                <string>{412,68}</string>
            </dict>
            <key>snowking_d/snowking_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{390,34}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{390,34}}</string>
                <key>sourceSize</key>
                <string>{412,68}</string>
            </dict>
            <key>snowking_d/snowking_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{398,40}}</string>
                <key>sourceSize</key>
                <string>{412,68}</string>
            </dict>
            <key>snowking_d/snowking_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{382,50}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{382,50}}</string>
                <key>sourceSize</key>
                <string>{412,68}</string>
            </dict>
            <key>snowking_d/snowking_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{362,56}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{362,56}}</string>
                <key>sourceSize</key>
                <string>{412,68}</string>
            </dict>
            <key>snowking_d/snowking_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{274,28}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,20},{274,28}}</string>
                <key>sourceSize</key>
                <string>{412,68}</string>
            </dict>
            <key>snowking_d/snowking_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,132},{54,18}}</string>
                <key>offset</key>
                <string>{149,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,22},{54,18}}</string>
                <key>sourceSize</key>
                <string>{412,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snowking0.pvr.ccz</string>
            <key>size</key>
            <string>{509,659}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f94de362d0bbb6a9fa9226d569986dfb$</string>
            <key>textureFileName</key>
            <string>snowking0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
