<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hudun_s/buf0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,690},{240,204}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{240,204}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>hudun_s/buf0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,204},{242,208}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{242,208}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>hudun_s/buf0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,672},{246,204}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{246,204}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>hudun_s/buf0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,420},{248,202}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{248,202}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>hudun_s/buf0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{250,202}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{250,202}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>hudun_s/buf0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{254,200}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{254,200}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>hudun_s/buf0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,204}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{252,204}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>hudun_s/buf0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{250,204}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{250,204}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>hudun_s/buf0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{246,210}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{246,210}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>hudun_s/buf0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,448},{240,204}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{240,204}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_380.pvr.ccz</string>
            <key>size</key>
            <string>{622,933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:232b681600b3b2bc23db840968295010$</string>
            <key>textureFileName</key>
            <string>skill_380.pvr.ccz</string>
        </dict>
    </dict>
</plist>
