<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snake_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,816},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,46}</string>
            </dict>
            <key>snake_d/snake_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,754},{46,60}}</string>
                <key>offset</key>
                <string>{55,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,4},{46,60}}</string>
                <key>sourceSize</key>
                <string>{220,230}</string>
            </dict>
            <key>snake_d/snake_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{160,168}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,21},{160,168}}</string>
                <key>sourceSize</key>
                <string>{220,230}</string>
            </dict>
            <key>snake_d/snake_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{184,182}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{184,182}}</string>
                <key>sourceSize</key>
                <string>{220,230}</string>
            </dict>
            <key>snake_d/snake_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{202,194}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{202,194}}</string>
                <key>sourceSize</key>
                <string>{220,230}</string>
            </dict>
            <key>snake_d/snake_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,216}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{178,216}}</string>
                <key>sourceSize</key>
                <string>{220,230}</string>
            </dict>
            <key>snake_d/snake_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{190,204}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{190,204}}</string>
                <key>sourceSize</key>
                <string>{220,230}</string>
            </dict>
            <key>snake_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>snake_head_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,916},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>snake_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,570},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snake0.pvr.ccz</string>
            <key>size</key>
            <string>{220,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b48ec28b2f8a8cd2f406e4b83bfd040$</string>
            <key>textureFileName</key>
            <string>snake0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
