<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cbd_jg/cbd_jg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,78}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>cbd_jg/cbd_jg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,61}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>cbd_jg/cbd_jg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,49},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,59}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>cbd_jg/cbd_jg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>cbd_jg/cbd_jg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>cbd_jg/cbd_jg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,63},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>cbd_jg/cbd_jg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,49},{24,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_310.pvr.ccz</string>
            <key>size</key>
            <string>{256,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cb959bbdd6e7624175dde2c8ed7261f$</string>
            <key>textureFileName</key>
            <string>skill_310.pvr.ccz</string>
        </dict>
    </dict>
</plist>
