<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon01_1_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,462},{76,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,89}}</string>
                <key>sourceSize</key>
                <string>{76,89}</string>
            </dict>
            <key>dragon01_1_body_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,540},{24,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,63}}</string>
                <key>sourceSize</key>
                <string>{24,63}</string>
            </dict>
            <key>dragon01_1_foot_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,498},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>dragon01_1_foot_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,240},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,41}}</string>
                <key>sourceSize</key>
                <string>{22,41}</string>
            </dict>
            <key>dragon01_1_hand_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,300},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>dragon01_1_hand_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,498},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>dragon01_1_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,462},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>dragon01_1_mouth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,496},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>dragon01_1_mouth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,498},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,33}</string>
            </dict>
            <key>dragon01_1_wing_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,496},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>dragon01_1_wing_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,540},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{24,46}</string>
            </dict>
            <key>dragon01_d/dragon01_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{214,66}}</string>
                <key>offset</key>
                <string>{-153,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{214,66}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>dragon01_d/dragon01_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{494,40}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{494,40}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>dragon01_d/dragon01_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{504,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{504,52}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>dragon01_d/dragon01_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{496,68}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>dragon01_d/dragon01_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{482,70}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{482,70}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>dragon01_d/dragon01_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{450,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{450,26}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>dragon01_d/dragon01_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,390},{146,24}}</string>
                <key>offset</key>
                <string>{147,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,27},{146,24}}</string>
                <key>sourceSize</key>
                <string>{520,84}</string>
            </dict>
            <key>dragon01_d2/dragon01_d2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{88,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{88,90}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>dragon01_d2/dragon01_d2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,388},{114,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>dragon01_d2/dragon01_d2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,268},{120,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{120,114}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>dragon01_d2/dragon01_d2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{126,122}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{126,122}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>dragon01_d2/dragon01_d2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,336},{124,118}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>dragon01_d2/dragon01_d2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,268},{122,118}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{122,118}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>dragon01_d2/dragon01_d2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,390},{106,114}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{136,124}</string>
            </dict>
            <key>dragon01_lizi01/dragon01_lizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,268},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon010.pvr.ccz</string>
            <key>size</key>
            <string>{508,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:889c9670e7dd04159d006ba5a0c070a8$</string>
            <key>textureFileName</key>
            <string>dragon010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
