<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fdz_p/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,110},{101,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{101,98}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>fdz_p/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,316},{97,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{97,100}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>fdz_p/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{101,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,106}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>fdz_p/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,316},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>fdz_p/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,146},{103,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>fdz_p/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,210},{95,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{95,100}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>fudz/fudz_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,312},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>fudz/fudz_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,221},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>fudz/fudz_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,146},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>fudz/fudz_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,315},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>fudz/fudz_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,424},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>fudz/fudz_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,248},{66,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>fudz/fudz_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,418},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>fudz/fudz_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,421},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>fudz/fudz_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,388},{31,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,52}}</string>
                <key>sourceSize</key>
                <string>{31,52}</string>
            </dict>
            <key>fudz/fudz_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,395},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>fudz/fudz_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,418},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>fudz_1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{195,142}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{195,142}}</string>
                <key>sourceSize</key>
                <string>{213,164}</string>
            </dict>
            <key>fudz_1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{193,148}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{193,148}}</string>
                <key>sourceSize</key>
                <string>{213,164}</string>
            </dict>
            <key>fudz_1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,162}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,162}}</string>
                <key>sourceSize</key>
                <string>{213,164}</string>
            </dict>
            <key>fudz_1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{131,164}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{131,164}}</string>
                <key>sourceSize</key>
                <string>{213,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fudz0.pvr.ccz</string>
            <key>size</key>
            <string>{504,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:835f2f567edc7e45a350d7cb11217123$</string>
            <key>textureFileName</key>
            <string>fudz0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
