<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changd/changd_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{157,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,112}}</string>
                <key>sourceSize</key>
                <string>{157,112}</string>
            </dict>
            <key>changd/changd_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,947},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>changd/changd_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,939},{79,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{79,125}</string>
            </dict>
            <key>changd/changd_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,953},{85,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,62}}</string>
                <key>sourceSize</key>
                <string>{85,62}</string>
            </dict>
            <key>changd/changd_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,766},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>changd/changd_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,672},{94,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,87}}</string>
                <key>sourceSize</key>
                <string>{94,87}</string>
            </dict>
            <key>changd/changd_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,560},{28,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,58}}</string>
                <key>sourceSize</key>
                <string>{28,58}</string>
            </dict>
            <key>changd/changd_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,560},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{37,56}</string>
            </dict>
            <key>changd/changd_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,560},{38,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{38,55}</string>
            </dict>
            <key>changd/changd_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,810},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>changd/changd_zuojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,953},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>changd/changd_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,560},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
            <key>changd/changd_zuoshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,123},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>changd/changd_zuoshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,560},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>changd/changd_zuoshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,848},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>changd/changd_zuoshouwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,890},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>changd/changd_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,931},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>changd_d1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,455},{268,103}}</string>
                <key>offset</key>
                <string>{192,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,4},{268,103}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,625},{320,109}}</string>
                <key>offset</key>
                <string>{151,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,5},{320,109}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,625},{318,101}}</string>
                <key>offset</key>
                <string>{135,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,10},{318,101}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,625},{326,87}}</string>
                <key>offset</key>
                <string>{114,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,14},{326,87}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{398,107}}</string>
                <key>offset</key>
                <string>{76,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,10},{398,107}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,111}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,5},{432,111}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{384,117}}</string>
                <key>offset</key>
                <string>{-100,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{384,117}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,345},{174,109}}</string>
                <key>offset</key>
                <string>{-224,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{174,109}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,941},{154,79}}</string>
                <key>offset</key>
                <string>{-249,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{154,79}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,560},{62,57}}</string>
                <key>offset</key>
                <string>{-219,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,36},{62,57}}</string>
                <key>sourceSize</key>
                <string>{652,117}</string>
            </dict>
            <key>changd_d3/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,620},{307,169}}</string>
                <key>offset</key>
                <string>{102,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,20},{307,169}}</string>
                <key>sourceSize</key>
                <string>{575,209}</string>
            </dict>
            <key>changd_d3/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{367,167}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,28},{367,167}}</string>
                <key>sourceSize</key>
                <string>{575,209}</string>
            </dict>
            <key>changd_d3/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{375,171}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,33},{375,171}}</string>
                <key>sourceSize</key>
                <string>{575,209}</string>
            </dict>
            <key>changd_d3/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,276},{391,177}}</string>
                <key>offset</key>
                <string>{-36,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{391,177}}</string>
                <key>sourceSize</key>
                <string>{575,209}</string>
            </dict>
            <key>changd_d3/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,123},{401,151}}</string>
                <key>offset</key>
                <string>{-59,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,39},{401,151}}</string>
                <key>sourceSize</key>
                <string>{575,209}</string>
            </dict>
            <key>changd_d3/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{411,107}}</string>
                <key>offset</key>
                <string>{-81,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,71},{411,107}}</string>
                <key>sourceSize</key>
                <string>{575,209}</string>
            </dict>
            <key>changd_d3/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{423,119}}</string>
                <key>offset</key>
                <string>{-76,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{423,119}}</string>
                <key>sourceSize</key>
                <string>{575,209}</string>
            </dict>
            <key>changd_p/daocaoren_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,672},{102,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,92}}</string>
                <key>sourceSize</key>
                <string>{104,92}</string>
            </dict>
            <key>changd_p/effect_001_shui.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,945},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>changd_p1/dog02_d201.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,939},{80,94}}</string>
                <key>offset</key>
                <string>{-59,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,94}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>changd_p1/dog02_d202.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,791},{118,138}}</string>
                <key>offset</key>
                <string>{-26,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{118,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>changd_p1/dog02_d203.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,161},{156,182}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{156,182}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>changd_p1/dog02_d205.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,456},{180,214}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{180,214}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>changd_p1/dog02_d207.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,456},{162,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,55},{162,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>changd_p1/dog02_d208.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,791},{146,138}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,56},{146,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>changd_p1/dog02_d209.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,791},{148,136}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,58},{148,136}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changd0.pvr.ccz</string>
            <key>size</key>
            <string>{976,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e0574f4180f6c09df9e18c7b55e1a09$</string>
            <key>textureFileName</key>
            <string>changd0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
