<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_skill_0_01/m_skill_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{156,140}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{156,140}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>m_skill_0_01/m_skill_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,340},{176,136}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{176,136}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>m_skill_0_01/m_skill_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,148},{190,132}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{190,132}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>m_skill_0_01/m_skill_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,144}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{200,144}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>m_skill_0_01/m_skill_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{202,130}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{202,130}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>m_skill_0_01/m_skill_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{94,76}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,47},{94,76}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_skill_00.pvr.ccz</string>
            <key>size</key>
            <string>{322,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b5c5d48606d668ea1c52487fb019d9b$</string>
            <key>textureFileName</key>
            <string>m_skill_00.pvr.ccz</string>
        </dict>
    </dict>
</plist>
