<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biankuangbai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,722},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bing_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,505},{71,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,78}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>bing_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,798},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>guangq_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,292},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>huoshan_04/huoshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>huoshan_07/gbd1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,401},{102,74}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,46},{102,74}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>huoshan_07/gbd1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,500},{144,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{144,102}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>huoshan_07/gbd1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{158,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{158,104}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>huoshan_07/gbd1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{158,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{158,120}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>huoshan_07/gbd1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,332},{166,126}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{166,126}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>huoshan_07/gbd1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,108},{172,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{172,126}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>huoshan_07/gbd1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,128},{176,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{176,128}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>huoshan_07/gbd1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{160,116}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{160,116}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>huoshan_07/gbd1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,604},{146,110}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{146,110}}</string>
                <key>sourceSize</key>
                <string>{176,132}</string>
            </dict>
            <key>jinji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,404},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>leidian_01/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,401},{1,1}}</string>
                <key>offset</key>
                <string>{-41,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,57},{1,1}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_01/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,160},{37,37}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{37,37}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_01/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,856},{55,55}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{55,55}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_01/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,836},{97,97}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{97,97}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_01/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,837},{113,109}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{113,109}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_01/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,716},{119,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{119,113}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_01/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,836},{111,117}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,117}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_01/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,716},{119,119}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{119,119}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_01/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,513},{105,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{105,109}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_01/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,282},{117,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{117,113}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>leidian_02/battleAttackSkill_90001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{204,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,218}}</string>
                <key>sourceSize</key>
                <string>{204,218}</string>
            </dict>
            <key>leidian_02/battleAttackSkill_90002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{226,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,202}}</string>
                <key>sourceSize</key>
                <string>{226,202}</string>
            </dict>
            <key>leidian_02/battleAttackSkill_90003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>leidian_02/battleAttackSkill_90004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{208,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,186}}</string>
                <key>sourceSize</key>
                <string>{208,186}</string>
            </dict>
            <key>shandian_02/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,399},{101,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{101,98}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>shandian_02/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,617},{97,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{97,100}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>shandian_02/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,404},{101,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,106}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>shandian_02/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,623},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>shandian_02/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,512},{103,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>shandian_02/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,729},{95,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{95,100}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>xiaoc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,124}}</string>
                <key>sourceSize</key>
                <string>{354,124}</string>
            </dict>
            <key>xingxing_03/xingxing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,120},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,624},{114,103}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{114,103}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,837},{120,107}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{120,107}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,729},{116,105}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{116,105}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,729},{118,105}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{118,105}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,284},{118,105}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,19},{118,105}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,622},{120,105}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{120,105}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,499},{122,105}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{122,105}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,292},{122,105}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{122,105}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,513},{122,107}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{122,107}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yanwu_01/Stage13 TunnelOpen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,404},{122,107}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{122,107}}</string>
                <key>sourceSize</key>
                <string>{174,141}</string>
            </dict>
            <key>yaoshi02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,124},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{166,166}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>yaoshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,578},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{66,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>yaoshi_01/yaoshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,836},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>zadan_01_0/zadan_01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>zadan_lizi/zadan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>zd_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,656},{64,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,70}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>zhiliao_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,108},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>special_icon_ex0.pvr.ccz</string>
            <key>size</key>
            <string>{874,951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:031a0451a8e0448f99fa655bf1ee8dd9$</string>
            <key>textureFileName</key>
            <string>special_icon_ex0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
