<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xingling1/xl1-arm-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,234},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>xingling1/xl1-arm-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,137},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>xingling1/xl1-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,208},{70,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,41}}</string>
                <key>sourceSize</key>
                <string>{70,41}</string>
            </dict>
            <key>xingling1/xl1-foot-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,211},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>xingling1/xl1-foot-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,211},{23,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,41}}</string>
                <key>sourceSize</key>
                <string>{23,41}</string>
            </dict>
            <key>xingling1/xl1-hand-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,182},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>xingling1/xl1-hand-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,211},{21,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,44}}</string>
                <key>sourceSize</key>
                <string>{21,44}</string>
            </dict>
            <key>xingling1/xl1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,248}}</string>
                <key>sourceSize</key>
                <string>{156,248}</string>
            </dict>
            <key>xingling1/xl1-leg-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,116},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{19,37}</string>
            </dict>
            <key>xingling1/xl1-leg-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,182},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>xingling1/xl1-trousers.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,182},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>xingling1/xl1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{112,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,44}}</string>
                <key>sourceSize</key>
                <string>{112,44}</string>
            </dict>
            <key>xingling1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{137,207}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{137,207}}</string>
                <key>sourceSize</key>
                <string>{143,217}</string>
            </dict>
            <key>xingling_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{90,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,178}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>xingling_d1/tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,211},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xingling10.pvr.ccz</string>
            <key>size</key>
            <string>{437,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:077f23bb5d0361a066b3e10cb45d15aa$</string>
            <key>textureFileName</key>
            <string>xingling10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
