<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Orc03/Orc03_Weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,159},{115,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,112}}</string>
                <key>sourceSize</key>
                <string>{115,112}</string>
            </dict>
            <key>Orc03/Orc03_arm_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,166},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>Orc03/Orc03_arm_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,356},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>Orc03/Orc03_body01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,152},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>Orc03/Orc03_body02.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,166},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>Orc03/Orc03_foot_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,166},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>Orc03/Orc03_foot_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,166},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>Orc03/Orc03_hand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,356},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>Orc03/Orc03_hand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,356},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>Orc03/Orc03_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{166,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,190}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>Orc03/Orc03_leg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,356},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>Orc03/Orc03_leg_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,356},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>Orc_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,189}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,189}}</string>
                <key>sourceSize</key>
                <string>{217,191}</string>
            </dict>
            <key>orcEmirates_d1/orcEmirates_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{98,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,5},{98,155}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>orcEmirates_d1/orcEmirates_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,142},{98,135}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{98,135}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>orcEmirates_d1/orcEmirates_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,279},{120,95}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{120,95}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>orcEmirates_d1/orcEmirates_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,207},{150,117}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{150,117}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>orcEmirates_d1/orcEmirates_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,208},{182,133}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{182,133}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>orcEmirates_d1/orcEmirates_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{204,135}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{204,135}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>orcEmirates_d2/orcEmirates_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,276},{80,94}}</string>
                <key>offset</key>
                <string>{-59,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,94}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>orcEmirates_d2/orcEmirates_d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{118,138}}</string>
                <key>offset</key>
                <string>{-26,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{118,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>orcEmirates_d2/orcEmirates_d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,218},{156,182}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{156,182}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>orcEmirates_d2/orcEmirates_d05.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{180,214}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{180,214}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>orcEmirates_d2/orcEmirates_d07.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{162,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,55},{162,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>orcEmirates_d2/orcEmirates_d08.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,208},{146,138}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,56},{146,138}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>orcEmirates_d2/orcEmirates_d09.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{148,136}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,58},{148,136}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orcEmirates0.pvr.ccz</string>
            <key>size</key>
            <string>{1019,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:428d09e5dc717dc7b2b640c8470e74d7$</string>
            <key>textureFileName</key>
            <string>orcEmirates0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
