<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hth_jn/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,663},{114,87}}</string>
                <key>offset</key>
                <string>{84,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,0},{114,87}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,837},{104,79}}</string>
                <key>offset</key>
                <string>{82,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,21},{104,79}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{156,85}}</string>
                <key>offset</key>
                <string>{51,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,10},{156,85}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,348},{184,85}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,14},{184,85}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,435},{190,87}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{190,87}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,566},{198,89}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{198,89}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,524},{202,77}}</string>
                <key>offset</key>
                <string>{-29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{202,77}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,524},{206,55}}</string>
                <key>offset</key>
                <string>{-40,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,35},{206,55}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,199},{212,63}}</string>
                <key>offset</key>
                <string>{-38,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{212,63}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,847},{118,71}}</string>
                <key>offset</key>
                <string>{81,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,25},{118,71}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,337},{116,91}}</string>
                <key>offset</key>
                <string>{80,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,5},{116,91}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,661},{112,93}}</string>
                <key>offset</key>
                <string>{82,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,3},{112,93}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,766},{104,79}}</string>
                <key>offset</key>
                <string>{80,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,24},{104,79}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,756},{114,79}}</string>
                <key>offset</key>
                <string>{87,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,23},{114,79}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,847},{120,73}}</string>
                <key>offset</key>
                <string>{82,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,15},{120,73}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,752},{120,87}}</string>
                <key>offset</key>
                <string>{82,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{120,87}}</string>
                <key>sourceSize</key>
                <string>{288,105}</string>
            </dict>
            <key>hth_jn2/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,413},{95,49}}</string>
                <key>offset</key>
                <string>{119,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,12},{95,49}}</string>
                <key>sourceSize</key>
                <string>{333,63}</string>
            </dict>
            <key>hth_jn2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{277,63}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{277,63}}</string>
                <key>sourceSize</key>
                <string>{333,63}</string>
            </dict>
            <key>hth_jn2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,566},{245,43}}</string>
                <key>offset</key>
                <string>{-39,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{245,43}}</string>
                <key>sourceSize</key>
                <string>{333,63}</string>
            </dict>
            <key>hth_jn2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,847},{137,31}}</string>
                <key>offset</key>
                <string>{-98,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{137,31}}</string>
                <key>sourceSize</key>
                <string>{333,63}</string>
            </dict>
            <key>huangth/huangth_houbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,949},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>huangth/huangth_liuhai.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,977},{37,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,58}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>huangth/huangth_maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,430},{134,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,97}}</string>
                <key>sourceSize</key>
                <string>{134,97}</string>
            </dict>
            <key>huangth/huangth_shangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,815},{34,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
            <key>huangth/huangth_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,752},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>huangth/huangth_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,813},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>huangth/huangth_xiabai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,837},{25,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,56}}</string>
                <key>sourceSize</key>
                <string>{25,56}</string>
            </dict>
            <key>huangth/huangth_xiabai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,510},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>huangth/huangth_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,969},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>huangth/huangth_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,895},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>huangth/huangth_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,977},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>huangth/huangth_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,756},{30,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>huangth/huangth_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,1003},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>huangth/huangth_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,728},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>huangth/huangth_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,837},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{16,36}</string>
            </dict>
            <key>huangth/huangth_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,728},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>huangth/huangth_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{17,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,31}}</string>
                <key>sourceSize</key>
                <string>{17,31}</string>
            </dict>
            <key>huangth/huangth_zuoxiabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,969},{29,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,13}}</string>
                <key>sourceSize</key>
                <string>{29,13}</string>
            </dict>
            <key>huangth_s/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,841},{75,106}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,69},{75,106}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,192}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{195,192}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{195,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{195,190}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,190},{157,156}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{157,156}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,199},{151,136}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{151,136}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,943},{101,76}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{101,76}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,847},{93,128}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,48},{93,128}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,529},{99,130}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{99,130}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,529},{101,132}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,44},{101,132}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{195,182}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{195,182}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{191,176}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{191,176}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
            <key>huangth_s/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{195,186}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{195,186}}</string>
                <key>sourceSize</key>
                <string>{203,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangth0.pvr.ccz</string>
            <key>size</key>
            <string>{580,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bc4e67772871590cc0e2f25c8f560c4$</string>
            <key>textureFileName</key>
            <string>huangth0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
