<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cbd_dsd/dsd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{98,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,76}}</string>
                <key>sourceSize</key>
                <string>{98,76}</string>
            </dict>
            <key>cbd_dsd/dsd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{63,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,81}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>cbd_dsd/dsd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>cbd_dsd/dsd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,169},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>cbd_dsd/dsd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,67},{78,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>cbd_dsd/dsd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,172},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>cbd_dsd/dsd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_330.pvr.ccz</string>
            <key>size</key>
            <string>{190,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b2c63bf30c6fa21268304e386070f6$</string>
            <key>textureFileName</key>
            <string>skill_330.pvr.ccz</string>
        </dict>
    </dict>
</plist>
