<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qyl/qyl_kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,836},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>qyl/qyl_qunbai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,220},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>qyl/qyl_qunbai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,332},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>qyl/qyl_qunbai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,672},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>qyl/qyl_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,560},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>qyl/qyl_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,773},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>qyl/qyl_toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,264},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>qyl/qyl_toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,620},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>qyl/qyl_toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,136},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>qyl/qyl_toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,560},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>qyl/qyl_touying.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,345},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>qyl/qyl_wuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,688},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>qyl/qyl_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,321},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>qyl/qyl_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,658},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>qyl/qyl_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,178},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>qyl/qyl_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,620},{17,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,36}}</string>
                <key>sourceSize</key>
                <string>{17,36}</string>
            </dict>
            <key>qyl/qyl_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,602},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>qyl/qyl_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,675},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>qyl/qyl_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,321},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>qyl/qyl_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,602},{15,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,31}}</string>
                <key>sourceSize</key>
                <string>{15,31}</string>
            </dict>
            <key>qyl_3/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,560},{30,50}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,214},{30,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qyl_3/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,251},{120,92}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,212},{120,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qyl_3/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,296},{128,120}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,180},{128,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qyl_3/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,552},{150,134}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,166},{150,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qyl_3/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,704},{156,154}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,150},{156,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qyl_3/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,136},{126,158}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,140},{126,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qyl_3/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{128,136}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,159},{128,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qyl_3/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,384},{28,70}}</string>
                <key>offset</key>
                <string>{37,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,133},{28,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qyl_3/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,620},{32,54}}</string>
                <key>offset</key>
                <string>{40,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,131},{32,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qyl_3/spy_g4.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,252},{100,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,182}}</string>
                <key>sourceSize</key>
                <string>{100,198}</string>
            </dict>
            <key>qyl_3/sqy_g_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,124}}</string>
                <key>sourceSize</key>
                <string>{354,124}</string>
            </dict>
            <key>qyl_j1/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{248,90}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,189},{248,90}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>qyl_j1/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,264},{254,92}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,187},{254,92}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>qyl_j1/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{252,94}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,184},{252,94}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>qyl_j1/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{250,88}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,186},{250,88}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>qyl_j1/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,358},{242,82}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,190},{242,82}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>qyl_j1/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,358},{238,90}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,189},{238,90}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>qyl_j1/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,602},{238,90}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,188},{238,90}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>qyl_j1/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,620},{238,90}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,188},{238,90}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>qyl_j2/princess_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,136},{154,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{154,113}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>qyl_j2/princess_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,543},{159,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{159,115}}</string>
                <key>sourceSize</key>
                <string>{213,137}</string>
            </dict>
            <key>qyl_j2/princess_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,426},{161,115}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{161,115}}</string>
                <key>sourceSize</key>
                <string>{181,119}</string>
            </dict>
            <key>qyl_j2/princess_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,688},{161,162}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{161,162}}</string>
                <key>sourceSize</key>
                <string>{171,170}</string>
            </dict>
            <key>qyl_j2/princess_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{161,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{161,192}}</string>
                <key>sourceSize</key>
                <string>{171,200}</string>
            </dict>
            <key>qyl_j2/princess_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,354},{151,196}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{151,196}}</string>
                <key>sourceSize</key>
                <string>{165,202}</string>
            </dict>
            <key>qyl_j2/princess_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,660},{111,112}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{111,112}}</string>
                <key>sourceSize</key>
                <string>{131,124}</string>
            </dict>
            <key>qyl_j3/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,332},{122,24}}</string>
                <key>offset</key>
                <string>{-107,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{122,24}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>qyl_j3/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,598},{236,128}}</string>
                <key>offset</key>
                <string>{-49,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,66},{236,128}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>qyl_j3/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,358},{260,132}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{260,132}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>qyl_j3/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{260,134}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{260,134}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>qyl_j3/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{328,130}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{328,130}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>qyl_j3/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,358},{328,134}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,57},{328,134}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>qyl_j3/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{194,132}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{194,132}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>qyl_j3/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,358},{200,96}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,80},{200,96}}</string>
                <key>sourceSize</key>
                <string>{336,252}</string>
            </dict>
            <key>qyl_j4/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{337,85}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{337,85}}</string>
                <key>sourceSize</key>
                <string>{361,85}</string>
            </dict>
            <key>qyl_j4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,358},{315,29}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{315,29}}</string>
                <key>sourceSize</key>
                <string>{361,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qyl0.pvr.ccz</string>
            <key>size</key>
            <string>{1019,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26dd4b84457c3d6335a1c77b85875860$</string>
            <key>textureFileName</key>
            <string>qyl0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
